<div class="row">
    <div class="col-md-6">
        <div class="card" style="width: 25rem;">
            <div class="card-body">
                <form [formGroup]="formTemplate">
                    <div class="text-center">
                        <img [src]="imgSrc" width="400px" height="350px" (click)="fileUploader.click()">
                    </div>
                    <div class="form-group">
                        <label>Select file to upload</label>
                        <input type="file" accept="image/*" class="form-control" #fileUploader formControlName="imageUrl" (change)="showPreview($event)">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl.errors?.required">This field is required.</div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="d-none" formControlName="hiddenImage" id="">
                        <input class="form-control" formControlName="caption" placeholder="Name">
                        <input class="form-control" formControlName="description" placeholder="Description">
                        <input class="form-control" formControlName="allergen" placeholder="Allergens">
                        <input class="form-control" formControlName="country" placeholder="Country">
                        <input class="form-control" formControlName="alcohol" placeholder="Alcohol Content" type="number">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl.errors?.required">This field is required.</div>
                    </div>

                    <div class="form-group">
                        <select formControlName="category" class="form-control">
                                    <option value="" disabled selected>--Select a Brand--</option>
                                    <option value="A Mano">A Mano</option>
                                    <option value="Barefoot">Barefoot</option>
                                    <option value="Concha Toro">Concha Toro</option>
                                    <option value="Gallo">Gallo</option>
                                    <option value="Hardys and Sons">Hardys and Sons</option>
                                    <option value="YellowTail">YellowTail</option>
                                    <option value="Others">Others</option>
                                </select>
                    </div>
                    <div class="form-group">
                        <select formControlName="type" class="form-control">
                                    <option value="" disabled selected>--Select a Type--</option>
                                    <option value="Red Wine">Red Wine</option>
                                    <option value="White Wine">White Wine</option>
                                    <option value="Rose Wine">Rose</option>
                                    <option value="Sparkling Wine">Sparkling Wine</option>
                                </select>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <a routerLink="/images/list" class="btn btn-primary btn-block float-right">Go To Product List</a>
                        </div>
                        <div class="form-group col-md-6">
                            <button type="submit" (click)="onSubmit()" class="btn btn-success btn-block float-right">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <app-wine-update-delete></app-wine-update-delete>
    </div>
</div>