<div id="bg">
    <!-- <img src="../../../../../assets/images/wineprompt.jpg" alt=""> -->
</div>
<!-- [ngClass]="setClasses() -->
<div class="background">
    <div class="container w3-animate-opacity" id="agePopup" id="mainContainer">
        <div class="firstText">
            <div class="textContainer">
                <h1>Are you 21 years old or above?</h1>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="container-1">
                    <div class="btn btn-one" (click)="login()">
                        <span>Yes, I am old enough</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container-1">
                    <a class="btn btn-one" href="https://www.barbie.com">
                        <span>No, I am not old enough</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <ng-template [ngIf]="count==1">
        <div class="">
             <app-navigation-bar></app-navigation-bar>
            <app-homepage></app-homepage> 
            <app-login></app-login>
        </div>
    </ng-template> -->