@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Niconne&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Teko:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Roboto:300&display=swap');
$darkGray: rgb(102,
101,
101);
//Start of the Homepage
body {
    overflow-x: hidden;
    font-size: 16px;
}

.showcase-left {
    padding-top: 4rem;
}

.showcase-right img {
    height: 45rem;
}

.showcase-right {
    margin-top: 80px;
}

p.text-center {
    font-weight: 300px;
    font-size: 20px;
}

.showcase-right p {
    margin-left: 50px;
}

#showcase h1 {
    font-size: 40px;
    font-family: 'Kaushan Script', cursive;
}

h4,
h1,
h2 {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    margin-bottom: 20px;
}

.winefacts {
    border: 1px solid black;
    padding: 1rem;
    color: darkred;
}

.facts li {
    margin-top: 5px;
    font-family: 'Dancing Script', cursive;
    padding-left: 4rem;
    font-size: 1rem;
    list-style: none;
}

//for last-pag tagline
.tag {
    text-transform: uppercase;
    color: white;
    font-size: 7rem;
    margin-top: 10rem;
    font-family: 'Teko', sans-serif;
}

.purchase {
    color: black;
    font-size: 10rem;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(219, 219, 219), 0 0 5px rgb(255, 255, 255);
}

.purchase2 {
    color: black;
    font-size: 6rem;
    text-shadow: 1px 1px 2px rgb(71, 0, 0), 0 0 25px rgb(219, 219, 219), 0 0 5px rgb(255, 255, 255);
}


/*
 * Cover
 */

.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}


/*-- Landing Page--*/

.landing {
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
    background: #E9ECEF;
    z-index: -1;
}

.home-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-inner {
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    background-image: url('../../../../assets/images/w12.jpg');
    animation: slide 50s infinite;
}

.home-inner h1 {
    color: white;
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 2px;
}

.home-inner p {
    color: rgb(112, 108, 108);
}

#lead1 {
    margin-top: 15rem;
    padding-right: 10rem;
}

.lead2 {
    margin-top: 30rem;
    padding-left: 10rem;
    padding-right: 2rem;
}

#testimonial {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(215, 119, 119, 1) 15%, rgba(221, 32, 32, 1) 30%, rgba(207, 8, 8, 1) 50%, rgba(221, 32, 32, 1) 70%, rgba(215, 119, 119, 1) 85%, rgba(255, 255, 255, 1) 100%);
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}

#testimonial2 {
    background: #464545;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
    color: white;
}

#testimonial2 img {
    left: 0;
}

#testimonial p {
    font-size: 65px;
    color: white;
    /*     font-family: 'Cedarville Cursive', cursive; */
    /*    font-family: 'Niconne', cursive; */
    font-family: 'Dancing Script', cursive;
    letter-spacing: 5px;
}

#testimonial p.customer {
    font-size: 20px;
    color: rgb(98, 99, 96);
}

#info1 .info-right {
    margin-top: 90px;
    text-align: justify;
}

#info1 .info-left {
    margin-top: 90px;
}

#info1 .info-left img {
    height: 20rem;
}

#info2 {
    margin-top: 100px;
    padding-bottom: 50px;
}

#contact img {
    margin-top: 50px;
    width: 100%;
}

.btnLearn {
    background-color: transparent;
    color: white;
    border: 0;
    font-size: 1.2em;
    border-radius: 25px Solid White;
}

.btnLearn:hover {
    background-color: white;
    color: black;
}

.btnLearn2 {
    background-color: rgb(255, 255, 255);
    border-radius: 1px solid black;
    color: black;
}

p {
    text-align: justify;
}

.responsive {
    width: 100%;
    max-width: 700px;
    height: auto;
}

#firstDiv {
    width: 1600px;
    height: 500px;
    position: absolute;
    z-index: 1;
    background: rgb(56, 0, 0);
}

#secondDiv {
    width: 200px;
    height: 200px;
    margin: 14px;
    position: absolute;
    background: blue;
}

.landing2 {
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
    background: #E9ECEF;
    z-index: -1;
}

.home-wrap2 {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // z-index: -1;
}

.home-inner2 {
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    color: black;
    background-color: black;
}

#more {
    display: none;
}

#showcase0 {
    background-image: url('../../../../assets/images/background-blur-blurred-1547.jpg');
}

.image img#bigPic {
    /* The image used */
    background-image: url('../../../../assets/images/w7.jpg');
    // margin-left: -0px;
    padding: 0;
    width: 1583px;
    // background: url(images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.link #links h1 {
    position: relative;
    color: white;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 10px;
    cursor: pointer;
    text-align: center;
    padding-top: 30px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: $darkGray;
}