 @import url('https://fonts.googleapis.com/css?family=Alex+Brush|Lora&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Livvic:500&display=swap');
 body {
     padding-bottom: 20px;
 }
 
 .navbar {
     margin-bottom: 20px;
 }
 
 .navbar {
    //  for transparency background-color: rgba(255, 255, 255, 0.5);
    background-color: white;
     -webkit-box-shadow: 0px 1px 1px #3d3a3d;
     -moz-box-shadow: 0px 1px 1px #3d3a3d;
     box-shadow: 0px 0px 60px #3d3a3d;
     cursor: url(http://cur.cursors-4u.net/food/foo-2/foo171.cur), auto !important;
 }
 
 .navbar-brand {
     font-size: 40px;
     font-weight: bold;
     color: rgb(0, 23, 27) !important;
     text-align: center;
 }
 
 .nav-item a {
     color: rgb(0, 0, 0) !important;
     font-size: 18px;
     font-family: 'Livvic', sans-serif;
     text-transform: uppercase;
     letter-spacing: 2px;
     cursor: pointer;
 }
 
 .nav-item a:hover {
     background-color: darken($color: #ffff, $amount: 20);
     color: red !important;
 }
 
 .navbar-brand img {
     padding-right: 3px;
     padding-top: 1px;
 }
 
 div.dropdown-menu a.dropdown-item {
     text-transform: capitalize !important;
 }