<nav class="navbar navbar-expand-md fixed-top">
    <a class="navbar-brand" href="#"><img src="../../../../../assets/images/wineLogoV2.png" style="height: 50px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon bg-dark"></span>
    </button>

    <p *ngIf="user">Welcome {{user?.displayName}}!</p>
    <!--     <button class="btn btn-primary mr-2" *ngIf="!user" (click)="register()">Register</button>
 -->
    <button class="btn btn-primary" *ngIf="!user" (click)="login()">Login</button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">

        <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a class="nav-link" routerLink="/home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/gallery">Gallery</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/about-us">About Us</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Winery</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                    <a class="dropdown-item" (click)="wineryPageChoice('upload')">Upload Wines</a>
                    <a class="dropdown-item" (click)="wineryPageChoice('update')">Update Wines</a>
                    <a class="dropdown-item" (click)="wineryPageChoice('brands')">Brands</a>
                </div>
            </li>
        </ul>
        <!--    <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Search">
        </form> -->
        <button class="btn" *ngIf="user" (click)="logout()">Logout</button>
    </div>
</nav>
<router-outlet></router-outlet>