<app-navigation-bar (wineryNavChoice)="getValues($event)"></app-navigation-bar>
<div class="choices"></div>


<!-- ng template for different choices by the user in one page [jesu experiment code] -->
<div class="container">
    <ng-template [ngIf]="wineryChoice=='upload'">
        <!-- design for upload -->
    </ng-template>

    <ng-template [ngIf]="wineryChoice=='update'">
        <!-- design for update -->
    </ng-template>

    <ng-template [ngIf]="wineryChoice=='brands'">
        <!-- design for brands -->
    </ng-template>
</div>