<!--This component displays the image list summary of the products from the database-->

<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">Filter by Brands</li>
        <li> <a (click)="onClickFilter('A Mano')">A Mano</a> </li>
        <li> <a (click)="onClickFilter('Concha Toro')">Concha Toro</a> </li>
        <li> <a (click)="onClickFilter('Yellow Tail')">Yellow Tail</a> </li>
        <li> <a (click)="onClickFilter('Barefoot')">Barefoot</a> </li>
        <li> <a (click)="onClickFilter('Hardys and Sons')">Hardys and Sons</a> </li>
        <li> <a (click)="onClickFilter('Others')">Others</a> </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->

<div class="tableHeader">
    <div class="row">
        <div class="col">
            <h1>List of '{{filter}}' Wines</h1>
        </div>
    </div>
</div>
<!-- AMANO -->

<table class="table">
    <thead class="thead-dark">
        <tr scope="row">
            <th scope="col">Image Preview</th>
            <th scope="col">Alcohol Content</th>
            <th scope="col">Allergens</th>
            <th scope="col">Caption</th>
            <th scope="col">Category</th>
            <th scope="col">Country</th>
            <th scope="col">Description</th>
            <th scope="col">Type</th>
            <th scope="col"><span id="overlap">---- </span>Action</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody *ngIf="filter=='A Mano'">
        <tr *ngFor="let AMano of winesAMano | paginate: { itemsPerPage: 5, currentPage: a }">
            <td><img [src]='AMano.imageUrl' [title]='AMano.caption' [style.width.px]='imageWidth' [style.margin.px]='imageMargin'></td>
            <td>{{AMano.alcohol}}%</td>
            <td>{{AMano.allergen}}</td>
            <td>{{AMano.caption}}</td>
            <td>{{AMano.category}}</td>
            <td>{{AMano.country}}</td>
            <td>{{AMano.description}}</td>
            <td>{{AMano.type}}</td>
            <td>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-outline-info" (click)="populateForm(AMano)" data-toggle="modal" data-target="#AManoModal">Edit</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-outline-danger" (click)="onDelete(AMano.$key, AMano.imageUrl)">Delete</button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="footer" colspan="9">
                <pagination-controls (pageChange)="a = $event"></pagination-controls>
            </td>
        </tr>
    </tbody>



    <!-- YELLOW TAIL -->
    <tbody *ngIf="filter=='Yellow Tail'">
        <tr *ngFor="let wines of winesYellowTail | paginate: { itemsPerPage: 3, currentPage: b }">
            <td><img [src]='wines.imageUrl' [title]='wines.caption' [style.width.px]='imageWidth' [style.margin.px]='imageMargin'></td>
            <td>{{wines.alcohol}}%</td>
            <td>{{wines.allergen}}</td>
            <td>{{wines.caption}}</td>
            <td>{{wines.category}}</td>
            <td>{{wines.country}}</td>
            <td>{{wines.description}}</td>
            <td>{{wines.type}}</td>
            <td>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-outline-info" (click)="populateForm(wines)" data-toggle="modal" data-target="#yellowTailModal">Edit</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-outline-danger" (click)="onDelete(wines.$key, wines.imageUrl)">Delete</button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="footer" colspan="9">
                <pagination-controls (pageChange)="b = $event"></pagination-controls>
            </td>
        </tr>
    </tbody>

    <!-- HARDYS AND SONS -->
    <tbody *ngIf="filter=='Hardys and Sons'">
        <tr *ngFor="let hardy of winesHardys | paginate: { itemsPerPage: 5, currentPage: c }">
            <td><img [src]='hardy.imageUrl' [title]='hardy.caption' [style.width.px]='imageWidth' [style.margin.px]='imageMargin'></td>
            <td>{{hardy.alcohol}}%</td>
            <td>{{hardy.allergen}}</td>
            <td>{{hardy.caption}}</td>
            <td>{{hardy.category}}</td>
            <td>{{hardy.country}}</td>
            <td>{{hardy.description}}</td>
            <td>{{hardy.type}}</td>
            <td>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-outline-info" (click)="populateForm(hardy)" data-toggle="modal" data-target="#hardyModal">Edit</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-outline-danger" (click)="onDelete(hardy.$key, hardy.imageUrl)">Delete</button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="footer" colspan="9">
                <pagination-controls (pageChange)="c = $event"></pagination-controls>
            </td>
        </tr>
    </tbody>

    <!-- BAREFOOT -->
    <tbody *ngIf="filter=='Barefoot'">
        <tr *ngFor="let bare of winesBarefoot | paginate: { itemsPerPage: 5, currentPage: d }">
            <td><img [src]='bare.imageUrl' [title]='bare.caption' [style.width.px]='imageWidth' [style.margin.px]='imageMargin'></td>
            <td>{{bare.alcohol}}%</td>
            <td>{{bare.allergen}}</td>
            <td>{{bare.caption}}</td>
            <td>{{bare.category}}</td>
            <td>{{bare.country}}</td>
            <td>{{bare.description}}</td>
            <td>{{bare.type}}</td>
            <td>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-outline-info" (click)="populateForm(bare)" data-toggle="modal" data-target="#BarefootModal">Edit</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-outline-danger" (click)="onDelete(bare.$key, bare.imageUrl)">Delete</button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="footer" colspan="9">
                <pagination-controls (pageChange)="d = $event"></pagination-controls>
            </td>
        </tr>
    </tbody>

    <!-- CONCHA TORO -->
    <tbody *ngIf="filter=='Concha Toro'">
        <tr *ngFor="let concha of winesConchaToro | paginate: { itemsPerPage: 5, currentPage: e }">
            <td><img [src]='concha.imageUrl' [title]='concha.caption' [style.width.px]='imageWidth' [style.margin.px]='imageMargin'></td>
            <td>{{concha.alcohol}}%</td>
            <td>{{concha.allergen}}</td>
            <td>{{concha.caption}}</td>
            <td>{{concha.category}}</td>
            <td>{{concha.country}}</td>
            <td>{{concha.description}}</td>
            <td>{{concha.type}}</td>
            <td>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-outline-info" (click)="populateForm(concha)" data-toggle="modal" data-target="#ConchaModal">Edit</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-outline-danger" (click)="onDelete(concha.$key, concha.imageUrl)">Delete</button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="footer" colspan="9">
                <pagination-controls (pageChange)="e = $event"></pagination-controls>
            </td>
        </tr>
    </tbody>

    <!-- OTHERS -->
    <tbody *ngIf="filter=='Others'">
        <tr *ngFor="let others of winesOthers | paginate: { itemsPerPage: 5, currentPage: f }">
            <td><img [src]='others.imageUrl' [title]='others.caption' [style.width.px]='imageWidth' [style.margin.px]='imageMargin'></td>
            <td>{{others.alcohol}}%</td>
            <td>{{others.allergen}}</td>
            <td>{{others.caption}}</td>
            <td>{{others.category}}</td>
            <td>{{others.country}}</td>
            <td>{{others.description}}</td>
            <td>{{others.type}}</td>
            <td>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6"><button class="btn btn-outline-info" (click)="populateForm(others)" data-toggle="modal" data-target="#OthersModal">Edit</button></div>
                        <div class="col-md-6"><button class="btn btn-outline-danger" (click)="onDelete(others.$key, others.imageUrl)">Delete</button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="footer" colspan="9">
                <pagination-controls (pageChange)="f = $event"></pagination-controls>
            </td>
        </tr>
    </tbody>
    <div *ngIf="filter=='All Products'">
        <!-- All Products Table Starts Here -->
    </div>
</table>

<!-- Modals Here -->
<!-- AMANO -->
<div class="modal fade" id="AManoModal" tabindex="-1" role="dialog" aria-labelledby="AManoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AManoModalLabel">Wine Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formTemplate">
                    <div class="form-group">
                        <small>Name</small>
                        <input class="form-control" formControlName="caption" placeholder="Name">
                        <small>Description</small>
                        <input class="form-control" formControlName="description" placeholder="Description">
                        <small>Allergens</small>
                        <input class="form-control" formControlName="allergen" placeholder="Allergens">
                        <small>Country</small>
                        <input class="form-control" formControlName="country" placeholder="Country">
                        <small>Alcohol Content</small>
                        <input class="form-control" formControlName="alcohol" placeholder="Alcohol Content" type="number">
                        <small>Brand</small>
                        <input class="form-control" formControlName="type" disabled>
                        <small>Type</small>
                        <input class="form-control" formControlName="category" disabled>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="onSubmitAMano()">Save changes AMano</button>
            </div>
            <div id="snackbar"> {{ snackbarMessage }} </div>
        </div>
    </div>
</div>

<!-- YELLOW TAIL MODAL -->
<div class="modal fade" id="yellowTailModal" tabindex="-1" role="dialog" aria-labelledby="yellowTailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="yellowTailModalLabel">Wine Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formTemplate">
                    <div class="form-group">
                        <small>Name</small>
                        <input class="form-control" formControlName="caption" placeholder="Name">
                        <small>Description</small>
                        <input class="form-control" formControlName="description" placeholder="Description">
                        <small>Allergens</small>
                        <input class="form-control" formControlName="allergen" placeholder="Allergens">
                        <small>Country</small>
                        <input class="form-control" formControlName="country" placeholder="Country">
                        <small>Alcohol Content</small>
                        <input class="form-control" formControlName="alcohol" placeholder="Alcohol Content" type="number">
                        <small>Brand</small>
                        <input class="form-control" formControlName="type" disabled>
                        <small>Type</small>
                        <input class="form-control" formControlName="category" disabled>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="onSubmit()">Save changes YellowTail</button>
            </div>
            <div id="snackbar"> {{ snackbarMessage }} </div>
        </div>
    </div>
</div>

<!-- HARDYS MODAL -->
<div class="modal fade" id="hardyModal" tabindex="-1" role="dialog" aria-labelledby="hardyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="hardyModalLabel">Wine Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formTemplate">
                    <div class="form-group">
                        <small>Name</small>
                        <input class="form-control" formControlName="caption" placeholder="Name">
                        <small>Description</small>
                        <input class="form-control" formControlName="description" placeholder="Description">
                        <small>Allergens</small>
                        <input class="form-control" formControlName="allergen" placeholder="Allergens">
                        <small>Country</small>
                        <input class="form-control" formControlName="country" placeholder="Country">
                        <small>Alcohol Content</small>
                        <input class="form-control" formControlName="alcohol" placeholder="Alcohol Content" type="number">
                        <small>Brand</small>
                        <input class="form-control" formControlName="type" disabled>
                        <small>Type</small>
                        <input class="form-control" formControlName="category" disabled>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="onSubmitHardy()">Save changes Hardys and Sons</button>
            </div>
            <div id="snackbar"> {{ snackbarMessage }} </div>
        </div>
    </div>
</div>

<!-- BAREFOOT MODAL -->

<div class="modal fade" id="BarefootModal" tabindex="-1" role="dialog" aria-labelledby="BarefootModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="BarefootModalLabel">Wine Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formTemplate">
                    <div class="form-group">
                        <small>Name</small>
                        <input class="form-control" formControlName="caption" placeholder="Name">
                        <small>Description</small>
                        <input class="form-control" formControlName="description" placeholder="Description">
                        <small>Allergens</small>
                        <input class="form-control" formControlName="allergen" placeholder="Allergens">
                        <small>Country</small>
                        <input class="form-control" formControlName="country" placeholder="Country">
                        <small>Alcohol Content</small>
                        <input class="form-control" formControlName="alcohol" placeholder="Alcohol Content" type="number">
                        <small>Brand</small>
                        <input class="form-control" formControlName="type" disabled>
                        <small>Type</small>
                        <input class="form-control" formControlName="category" disabled>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="onSubmitBarefoot()">Save changes Barefoot</button>
            </div>
            <div id="snackbar"> {{ snackbarMessage }} </div>
        </div>
    </div>
</div>

<!-- Concha Toro Modal -->
<div class="modal fade" id="ConchaModal" tabindex="-1" role="dialog" aria-labelledby="ConchaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ConchaModalLabel">Wine Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formTemplate">
                    <div class="form-group">
                        <small>Name</small>
                        <input class="form-control" formControlName="caption" placeholder="Name">
                        <small>Description</small>
                        <input class="form-control" formControlName="description" placeholder="Description">
                        <small>Allergens</small>
                        <input class="form-control" formControlName="allergen" placeholder="Allergens">
                        <small>Country</small>
                        <input class="form-control" formControlName="country" placeholder="Country">
                        <small>Alcohol Content</small>
                        <input class="form-control" formControlName="alcohol" placeholder="Alcohol Content" type="number">
                        <small>Brand</small>
                        <input class="form-control" formControlName="type" disabled>
                        <small>Type</small>
                        <input class="form-control" formControlName="category" disabled>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="onSubmitConcha()">Save changes Concha Toro</button>
            </div>
            <div id="snackbar"> {{ snackbarMessage }} </div>
        </div>
    </div>
</div>

<!-- OTHERS MODAL -->
<div class="modal fade" id="OthersModal" tabindex="-1" role="dialog" aria-labelledby="OthersModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="OthersModalLabel">Wine Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formTemplate">
                    <div class="form-group">
                        <small>Name</small>
                        <input class="form-control" formControlName="caption" placeholder="Name">
                        <small>Description</small>
                        <input class="form-control" formControlName="description" placeholder="Description">
                        <small>Allergens</small>
                        <input class="form-control" formControlName="allergen" placeholder="Allergens">
                        <small>Country</small>
                        <input class="form-control" formControlName="country" placeholder="Country">
                        <small>Alcohol Content</small>
                        <input class="form-control" formControlName="alcohol" placeholder="Alcohol Content" type="number">
                        <small>Brand</small>
                        <input class="form-control" formControlName="type" disabled>
                        <small>Type</small>
                        <input class="form-control" formControlName="category" disabled>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="onSubmitOthers()">Save changes to Others</button>
            </div>

            <div id="snackbar"> {{ snackbarMessage }} </div>
        </div>
    </div>
</div>