span#overlap {
    color: transparent;
}

.tableHeader {
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 2rem;
}

//nav
//navigation sidebar for winery page
.sidebar-nav {
    position: fixed;
    top: 22rem;
    width: 200px;
    padding: 0;
    list-style: none;
    background: transparent;
    right: 0;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
    cursor: pointer;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: rgb(20, 3, 3);
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
    color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: rgb(0, 0, 0);
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }
}

input.ng-touched.ng-invalid {
    border: 1px solid red;
}

textarea.ng-touched.ng-invalid {
    border: 1px solid red;
}