<header class="header__container">
    <div class="header__row">
        <div class="row">
            <div class="col sm-6">
                <p *ngIf="user">Welcome {{user?.displayName}}!</p>
            </div>
            <div class="col sm-6">
                <button class="btn2" *ngIf="!user" (click)="login()">Login</button>
            </div>
            <button class="btn" *ngIf="user" (click)="logout()">Logout</button>
        </div>
        <img (click)="goToHome()" src='../../../../../assets/images/wlogo.png' alt="" style="height:50px; margin-top:-45px; margin-left: 450px">
    </div>
</header>

<app-navigation-bar></app-navigation-bar>