@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Niconne&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700&display=swap');
// NEW FONTS 
@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps&display=swap');
header {
    display: block;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25);
}

p {
    color: white;
    margin-top: 35px;
    font-family: 'Bilbo Swash Caps', cursive;
    margin-left: -7em;
    font-size: 1.5em;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.header__container {
    width: 100%;
    min-width: 320px;
    height: 115px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.99) 50%, rgba(0, 0, 0, 0) 100%);
}

.header__row {
    margin: 0 auto;
    padding: 0 30px;
    width: 100%;
    max-width: 1260px;
    height: 100%;
    display: table;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25);
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    position: relative;
    outline: 0 !important;
    z-index: 0;
}

@media (max-width: 1200px) {
    .main-menu__container {
        right: 30px;
    }
}

.btn,
.btn2 {
    color: white;
    margin-top: 20px;
    font-family: 'Bilbo Swash Caps', cursive;
    margin-right: -10rem;
    font-size: 1.5em;
}

img {
    position: absolute;
    cursor: pointer;
}