<div class="row">
    <div class="col-md-8 offset-md-2">
        <blockquote class="blockquote">
            <p class="mb-0 h3 display-4">Winecom Vintage Barrels and Distillery </p>
            <footer class="blockquote-footer">
                <cite title="Source Title">where wine meets</cite>
                <cite title="Source Title"> sophistication</cite></footer>
        </blockquote>
    </div>
</div>