<app-brands (brandClick)="receiveBrandName($event)"></app-brands>

<h3>{{chosenBrand}} </h3>

<!-- AMANO -->
<div *ngIf="chosenBrand=='A-Mano'" class="pb-5">
    <table *ngIf="amanoList">
        <tr *ngFor="let i of rowIndexArray | paginate: { itemsPerPage: 2, currentPage: a }">
            <td>
                <div class="imagebox">
                    <img [src]="amanoList[5*i].imageUrl" (click)="getData(amanoList[5*i]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                    <span class="imagebox-desc">{{amanoList[5*i].caption}}</span>
                </div>
            </td>
            <td *ngIf="amanoList[5*i+1]">
                <div class="imagebox">
                    <img [src]="amanoList[5*i+1].imageUrl" (click)="getData(amanoList[5*i+1]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                    <span class="imagebox-desc">{{amanoList[5*i+1].caption}}</span>
                </div>
            </td>
            <td *ngIf="amanoList[5*i+2]">
                <div class="imagebox">
                    <img [src]="amanoList[5*i+2].imageUrl" (click)="getData(amanoList[5*i+2]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                    <span class="imagebox-desc">{{amanoList[5*i+2].caption}}</span>
                </div>
            </td>
            <td *ngIf="amanoList[5*i+3]">
                <div class="imagebox">
                    <img [src]="amanoList[5*i+3].imageUrl" (click)="getData(amanoList[5*i+3]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                    <span class="imagebox-desc">{{amanoList[5*i+3].caption}}</span>
                </div>
            </td>
            <td *ngIf="amanoList[5*i+4]">
                <div class="imagebox">
                    <img [src]="amanoList[5*i+4].imageUrl" (click)="getData(amanoList[5*i+4]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                    <span class="imagebox-desc">{{amanoList[5*i+3].caption}}</span>
                </div>
            </td>
        </tr>
    </table>
    <div class="footer" style="float: right">
        <pagination-controls (pageChange)="a = $event"></pagination-controls>
    </div>
</div>

<!-- HARDYS AND SONS -->
<div *ngIf="chosenBrand=='Hardys and Sons'" class="pb-5">
    <table *ngIf="hardyList">
        <tr *ngFor="let i of rowHardyArray | paginate: { itemsPerPage: 2, currentPage: b }">
            <td>
                <div class="imagebox">
                    <img [src]="hardyList[5*i].imageUrl" (click)="getData(hardyList[5*i]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                    <span class="imagebox-desc">{{hardyList[5*i].caption}}</span>
                </div>
            </td>
            <td *ngIf="hardyList[5*i+1]">
                <div class="imagebox">
                    <img [src]="hardyList[5*i+1].imageUrl" (click)="getData(hardyList[5*i+1]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                    <span class="imagebox-desc">{{hardyList[5*i+1].caption}}</span>
                </div>
            </td>
            <td *ngIf="hardyList[5*i+2]">
                <div class="imagebox">
                    <img [src]="hardyList[5*i+2].imageUrl" (click)="getData(hardyList[5*i+2]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                    <span class="imagebox-desc">{{hardyList[5*i+2].caption}}</span>
                </div>
            </td>
            <td *ngIf="hardyList[5*i+3]">
                <div class="imagebox">
                    <img [src]="hardyList[5*i+3].imageUrl" (click)="getData(hardyList[5*i+3]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                    <span class="imagebox-desc">{{hardyList[5*i+3].caption}}</span>
                </div>
            </td>
            <td *ngIf="hardyList[5*i+4]">
                <div class="imagebox">
                    <img [src]="hardyList[5*i+4].imageUrl" (click)="getData(hardyList[5*i+4]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                    <span class="imagebox-desc">{{hardyList[5*i+4].caption}}</span>
                </div>
            </td>
        </tr>
        <div class="footer" style="float: right">
            <pagination-controls (pageChange)="b = $event"></pagination-controls>
        </div>
    </table>
</div>

<!-- YELLOWTAIL -->
<div *ngIf="chosenBrand=='Yellow-Tail'" class="pb-5">
    <table *ngIf="yellowList">
        <tr *ngFor="let i of rowYellowArray | paginate: { itemsPerPage: 2, currentPage: c }">

            <td>
                <div class="imagebox">
                    <img [src]="yellowList[5*i].imageUrl" (click)="getData(yellowList[5*i]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                    <span class="imagebox-desc">{{yellowList[5*i].caption}}</span>
                </div>
            </td>
            <td *ngIf="yellowList[5*i+1]">
                <div class="imagebox">
                    <img [src]="yellowList[5*i+1].imageUrl" (click)="getData(yellowList[5*i+1]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                    <span class="imagebox-desc">{{yellowList[5*i+1].caption}}</span>
                </div>
            </td>
            <td *ngIf="yellowList[5*i+2]">
                <div class="imagebox">
                    <img [src]="yellowList[5*i+2].imageUrl" (click)="getData(yellowList[5*i+2]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                    <span class="imagebox-desc">{{yellowList[5*i+2].caption}}</span>
                </div>
            </td>
            <td *ngIf="yellowList[5*i+5]">
                <div class="imagebox">
                    <img [src]="yellowList[5*i+5].imageUrl" (click)="getData(yellowList[5*i+3]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                    <span class="imagebox-desc">{{yellowList[5*i+3].caption}}</span>
                </div>
            </td>
            <td *ngIf="yellowList[5*i+4]">
                <div class="imagebox">
                    <img [src]="yellowList[5*i+4].imageUrl" (click)="getData(yellowList[5*i+4]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                    <span class="imagebox-desc">{{yellowList[5*i+4].caption}}</span>
                </div>
            </td>
        </tr>
        <div class="footer" style="float: right">
            <pagination-controls (pageChange)="c = $event"></pagination-controls>
        </div>
    </table>
</div>

<!--BAREFOOT -->
<div *ngIf="chosenBrand=='Barefoot'" class="pb-5">
    <table *ngIf="barefootList">
        <tr *ngFor="let i of rowBarefootArray | paginate: { itemsPerPage: 2, currentPage: d }">

            <td>
                <div class="imagebox">
                    <img [src]="barefootList[5*i].imageUrl" (click)="getData(barefootList[5*i]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                    <span class="imagebox-desc">{{barefootList[5*i].caption}}</span>
                </div>
            </td>
            <td *ngIf="barefootList[5*i+1]">
                <div class="imagebox">
                    <img [src]="barefootList[5*i+1].imageUrl" (click)="getData(barefootList[5*i+1]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                    <span class="imagebox-desc">{{barefootList[5*i+1].caption}}</span>
                </div>
            </td>
            <td *ngIf="barefootList[5*i+2]">
                <div class="imagebox">
                    <img [src]="barefootList[5*i+2].imageUrl" (click)="getData(barefootList[5*i+2]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                    <span class="imagebox-desc">{{barefootList[5*i+2].caption}}</span>
                </div>
            </td>
            <td *ngIf="barefootList[5*i+5]">
                <div class="imagebox">
                    <img [src]="barefootList[5*i+5].imageUrl" (click)="getData(barefootList[5*i+3]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                    <span class="imagebox-desc">{{barefootList[5*i+3].caption}}</span>
                </div>
            </td>
            <td *ngIf="barefootList[5*i+4]">
                <div class="imagebox">
                    <img [src]="barefootList[5*i+4].imageUrl" (click)="getData(barefootList[5*i+4]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                    <span class="imagebox-desc">{{barefootList[5*i+4].caption}}</span>
                </div>
            </td>
        </tr>
        <div class="footer" style="float: right">
            <pagination-controls (pageChange)="d = $event"></pagination-controls>
        </div>
    </table>
</div>

<!-- CONCHA TORO -->
<div *ngIf="chosenBrand=='Concha Toro'" class="pb-5">
    <table *ngIf="conchaList">
        <tr *ngFor="let i of rowConchaArray | paginate: { itemsPerPage: 2, currentPage: e }">

            <td>
                <div class="imagebox">
                    <img [src]="conchaList[5*i].imageUrl" (click)="getData(conchaList[5*i]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                    <span class="imagebox-desc">{{conchaList[5*i].caption}}</span>
                </div>
            </td>
            <td *ngIf="conchaList[5*i+1]">
                <div class="imagebox">
                    <img [src]="conchaList[5*i+1].imageUrl" (click)="getData(conchaList[5*i+1]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                    <span class="imagebox-desc">{{conchaList[5*i+1].caption}}</span>
                </div>
            </td>
            <td *ngIf="conchaList[5*i+2]">
                <div class="imagebox">
                    <img [src]="conchaList[5*i+2].imageUrl" (click)="getData(conchaList[5*i+2]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                    <span class="imagebox-desc">{{conchaList[5*i+2].caption}}</span>
                </div>
            </td>
            <td *ngIf="conchaList[5*i+5]">
                <div class="imagebox">
                    <img [src]="conchaList[5*i+5].imageUrl" (click)="getData(conchaList[5*i+3]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                    <span class="imagebox-desc">{{conchaList[5*i+3].caption}}</span>
                </div>
            </td>
            <td *ngIf="conchaList[5*i+4]">
                <div class="imagebox">
                    <img [src]="conchaList[5*i+4].imageUrl" (click)="getData(conchaList[5*i+4]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                    <span class="imagebox-desc">{{conchaList[5*i+4].caption}}</span>
                </div>
            </td>
        </tr>
        <div class="footer" style="float: right">
            <pagination-controls (pageChange)="e = $event"></pagination-controls>
        </div>
    </table>
</div>

<!-- OTHERS -->
<div *ngIf="chosenBrand=='Others'" class="pb-5">
    <table *ngIf="othersList">
        <tr *ngFor="let i of rowOthersArray | paginate: { itemsPerPage: 2, currentPage: f }">

            <td>
                <div class="imagebox">
                    <img [src]="othersList[5*i].imageUrl" (click)="getData(othersList[5*i]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                    <span class="imagebox-desc">{{othersList[5*i].caption}}</span>
                </div>
            </td>
            <td *ngIf="othersList[5*i+1]">
                <div class="imagebox">
                    <img [src]="othersList[5*i+1].imageUrl" (click)="getData(othersList[5*i+1]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                    <span class="imagebox-desc">{{othersList[5*i+1].caption}}</span>
                </div>
            </td>
            <td *ngIf="othersList[5*i+2]">
                <div class="imagebox">
                    <img [src]="othersList[5*i+2].imageUrl" (click)="getData(othersList[5*i+2]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                    <span class="imagebox-desc">{{othersList[5*i+2].caption}}</span>
                </div>
            </td>
            <td *ngIf="othersList[5*i+5]">
                <div class="imagebox">
                    <img [src]="othersList[5*i+5].imageUrl" (click)="getData(othersList[5*i+3]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                    <span class="imagebox-desc">{{othersList[5*i+3].caption}}</span>
                </div>
            </td>
            <td *ngIf="othersList[5*i+4]">
                <div class="imagebox">
                    <img [src]="othersList[5*i+4].imageUrl" (click)="getData(othersList[5*i+4]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                    <span class="imagebox-desc">{{othersList[5*i+4].caption}}</span>
                </div>
            </td>
        </tr>
        <div class="footer" style="float: right">
            <pagination-controls (pageChange)="f = $event"></pagination-controls>
        </div>
    </table>
</div>

<!-- UNIVERSAL MODAL - START -->
<div *ngIf="anyDetails">
    <div class="modal fade" id="anyModal" tabindex="-1" role="dialog" aria-labelledby="anyModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                            </div>
                            <div class="col-6" style="text-align: center;">
                                <h3 class="modal-title" id="anyModalLabel">{{anyDetails.caption}}</h3>
                            </div>
                            <div class="col">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>

                <div class="row" name="OG ROW">
                    <div class="col-sm-11" name="LEVEL 1">
                        <div class="row" name="LEVEL 2">
                            <div class="col-4-col col-sm-6" name="LEFT COLUMN">
                                <div class="modal-body">

                                    <div *ngIf="imageClicked === false">
                                        <div class="imagebox">
                                            <img [src]="anyDetails.imageUrl" class="img-fluid" style="width: 500px; height: 500px">
                                        </div>
                                    </div>
                                    <div *ngIf="imageClicked2 === false">
                                        <div class="imagebox">
                                            <img [src]="anyDetails.imageUrl" class="img-fluid" style="width: 500px; height: 500px">
                                        </div>
                                    </div>
                                    <div *ngIf="imageClicked3 === false">
                                        <div class="imagebox">
                                            <img [src]="anyDetails.imageUrl" class="img-fluid" style="width: 500px; height: 500px">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-8-col col-sm-6" name="RIGHT-COLUMN" id="margins">
                                <div>
                                    <br>
                                    <h5>Description: <span>{{anyDetails.description}}</span></h5><br>
                                    <h5>Type: <span>{{anyDetails.type}}</span></h5><br>
                                    <h5>Country: <span>{{anyDetails.country}}</span></h5><br>
                                    <h5>Allergen(s): <span>{{anyDetails.allergen}}</span></h5><br>
                                    <h5>Alcohol Content: <span>{{anyDetails.alcohol}}%</span></h5><br>

                                    <!-- ng-templates to avoid white spaces after multiple ngIfs -->
                                    <ng-template [ngIf]="chosenBrand=='A-Mano'">
                                        <h5>Visit Our Partner For More Details: <span><a href="https://www.amanowine.com/en/">https://www.amanowine.com/en/</a></span></h5><br>
                                    </ng-template>
                                    <ng-template [ngIf]="chosenBrand=='Hardys and Sons'">
                                        <h5>Visit Our Partner For More Details: <span><a href="http://www.hardyswines.com">http://www.hardyswines.com</a></span></h5>
                                    </ng-template>
                                    <ng-template [ngIf]="chosenBrand=='Yellow-Tail'">
                                        <h5>Visit Our Partner For More Details: <span><a href="https://www.yellowtailwine.com">https://www.yellowtailwine.com</a></span></h5><br>
                                    </ng-template>
                                    <ng-template [ngIf]="chosenBrand=='Barefoot'">
                                        <h5>Visit Our Partner For More Details: <span><a href="https://www.barefootwine.com/">https://www.barefootwine.com/</a></span></h5><br>
                                    </ng-template>
                                    <ng-template [ngIf]="chosenBrand=='Concha Toro'">
                                        <h5>Visit Our Partner For More Details: <span><a href="https://conchaytoro.com/en/">https://conchaytoro.com/en/</a></span></h5><br>
                                    </ng-template>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- UNIVERSAL MODAL - END -->