.imagebox {
    background: transparent;
    padding: 0px;
    position: relative;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.imagebox img {
    opacity: 1;
    transition: 0.5s opacity;
    /** Added by ate Khamae, For fitting the image **/
    object-fit: contain;
    margin-right: 50px;
    width: 350px;
    height: 350px;
    
}

.imagebox .imagebox-desc {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0px;
    color: white;
    font-size: 1.2em;
    height: 20%;
    left: 0px;
    position: absolute;
    transition: 0.5s padding;
    text-align: center;
    padding: 10px 15px;
    width: 100%;
}

.imagebox:hover img {
    opacity: 0.7;
}

.imagebox:hover .imagebox-desc {
    padding-bottom: 100px;
}

h5:hover.brands {
    cursor: pointer;
    background-color: darken($color: #747474, $amount: 0);
    color: white;
}

#margins {
    padding-top: 25px;
}

td {
    margin: 5px;
    width: 350px;
    height: 350px
}

span {
    font-weight: 300;
}

span>a {
    cursor: pointer;
}