    @import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Dancing+Script:700&display=swap');
    

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  
  
  
    /* FOR THE CLOCK **/
    
    @import url(https://fonts.googleapis.com/css?family=Teko:regular);
    *,
    *::before,
    *::after {
        // margin: 0;
        // padding: 0;
        box-sizing: border-box;
        font-family: "Teko", sans-serif;
    }
    
    html,
    // body {
    //     height: 100%;
    //     width: 100%;
    // }
    
    body {
        background-image: radial-gradient(#121212, #000000);
        color: #ffffffdd;
        line-height: 3em;
        /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */
    }
    
    .clock-box {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 3em 1.5em;
        background-image: linear-gradient(45deg, #d40e0e, #1b0101);
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        animation: bgblob 4s infinite 0.5s
    }
    
    .clock {
        font-size: 7.5em;
    }
    
    .date {
        font-size: 2em;
    }
    
    .clock,
    .date {
        text-shadow: 0 5px 5px #000000bb;
        color: white;
    }
    
    @keyframes bgblob {
        0% {
            border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        }
        25% {
            border-radius: 75% 25% 45% 55% / 30% 30% 70% 70%;
        }
        50% {
            border-radius: 61% 39% 27% 73% / 62% 77% 23% 38%;
        }
        75% {
            border-radius: 38% 62% 74% 26% / 75% 57% 43% 25%;
        }
        100% {
            border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        }
    }


    /* this is where about us content scss starts */
    
    .aboutUsContentWrapper {
        height: 720px;
    }
    
    .navbar {
        margin-bottom: 150px;
    }
    
    .Mission {
        margin: auto;
        text-align: center;
    }
    
    h1 {
        font-family: 'Kaushan Script', cursive;
        font-size: 75px;
    }
    
    h2 {
        font-family: 'Dancing Script', cursive;
        font-size: 25px;
    }
    
    p {
        font-size: 20px;
    }
    
    .Vision {
        margin: auto;
        text-align: center;
    }
    
    span ul li {
        list-style-type: none;
        font-size: 20px;
    }