<!-- <div class="container2">
        <img src="assets\images\6.jpg" id="bg" alt="">
    </div> -->
    
    <!-- <a class="route" routerLink="/home"><i class="fa fa-home fa-5x"></i></a> -->
    <div id="bg">

    </div>
    <div class="container">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="f">
        <div class="login-box" *ngIf="authError">
            <!-- displaying authentication error -->
            <h1>Login</h1>
            <div class="alert alert-danger">{{authError?.message}}</div>
        </div>
    
        <div class="textbox">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input ngModel #email="ngModel" type="email" placeholder="Email" name="email">
        </div>
        <small id="emailHelp" class="form-text text-muted">ex.choco@nowcom.com</small>
    
        <div class="textbox">
            <i class="fa fa-lock" aria-hidden="true"></i>
            <input ngModel #password="ngModel" name="password" type="password" placeholder="Password">
        </div>
    
        <div class="row mt-2">
            <div class="col-12">
                <small><button class="btnReg" (click)="register()" style="position: right">Click here to register</button></small>
            </div>
            <button class="btn btn-one" type="Submit">Login</button>
        </div>
    </form>
    </div>