<!--This component lets the users upload a product to the database-->
<div class="row" style="padding-top: 100px">
    <div class="col-md-6">
        <div class="card" style="width: 27rem; height: 96%;">
            <div class="card-body">
                <form [formGroup]="formTemplate">
                    <div class="text-center">
                        <div class="img-responsive" *ngIf="defaultPic">
                            <img [src]="imgSrc" width="380px" height="350px" (click)="fileUploader.click()">
                        </div>
                        <div class="img-responsive" *ngIf="!defaultPic">
                            <img [src]="imgSrc" width="100px" height="350px" (click)="fileUploader.click()">
                        </div>
                    </div>
                    <div class="form-group">
                        <h6>Select an image to upload</h6>
                        <input type="file" accept="image/*" class="form-control" #fileUploader formControlName="imageUrl" (change)="showPreview($event)">
                        <!-- <div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl.errors?.required">This field is required.
                        </div> -->
                    </div>
                    <div class="form-group">
                        <select formControlName="category" class="form-control">
                            <option value="" disabled selected>--Select a Brand--</option>
                            <option value="A Mano">A Mano</option>
                            <option value="Barefoot">Barefoot</option>
                            <option value="Concha Toro">Concha Toro</option>
                            <!-- <option value="Gallo">Gallo</option> -->
                            <option value="Hardys and Sons">Hardys and Sons</option>
                            <option value="YellowTail">YellowTail</option>
                            <option value="Others">Others</option>
                        </select>
                        <!-- <div class="text-danger" *ngIf="isSubmitted && formControls.category.errors?.required">This field is required.
                        </div> -->
                    </div>
                    <div class="form-group">
                        <select formControlName="type" class="form-control">
                            <option value="" disabled selected>--Select a Type--</option>
                            <option value="Red Wine">Red Wine</option>
                            <option value="White Wine">White Wine</option>
                            <option value="Rose Wine">Rose</option>
                            <option value="Sparkling Wine">Sparkling Wine</option>
                        </select>
                    </div>
                </form>
                <div class="alert alert-danger" *ngIf="showDeletedMessage">
                    Deleted successfully.
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h5>Please complete all the fields</h5>
        <div class="card" style="width: 27rem;">
            <div class="card-body">
                <form [formGroup]="formTemplate">
                    <div class="form-group">

                        <input type="text" class="d-none" formControlName="hiddenImage" id="">

                        <input class="form-control" formControlName="caption" placeholder="Name">

                        <textarea class="form-control" formControlName="description" placeholder="Description"></textarea>

                        <input class="form-control" formControlName="allergen" placeholder="Allergens">
                        <!-- <input class="form-control" formControlName="country" placeholder="Country"> -->

                        <select style="margin-bottom: 11px;" formControlName="country" class="form-control">
                                <option value="" disabled selected>Country</option>
                                <option value="Germany">Germany</option>
                                <option value="Ireland">Ireland</option>
                                <option value="Italy">Italy</option>
                                <option value="Mexico">Mexico</option>
                                <option value="Portugal">Portugal</option>
                                <option value="Japan">Japan</option>
                                <option value="New Zealand">New Zealand</option>
                        </select>

                        <input class="form-control" formControlName="alcohol" placeholder="Alcohol Content" type="number">

                        <!-- <div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl.errors?.required">This field is required.
                        </div> -->
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <a id="goToProductList-a" (click)="toProductList('Showing Product List')" class="btn btn-primary btn-block float-right">Go To
                                    Product List</a>
                        </div>
                        <div class="form-group col-md-6">
                            <button type="submit" (click)="onSubmit()" class="btn btn-success btn-block float-right">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Snackbar -->

<div id="snackbar"> {{ snackbarMessage }} </div>