input.ng-touched.ng-invalid {
    border: 1px solid red;
}

textarea.ng-touched.ng-invalid {
    border: 1px solid red;
}

select.ng-touched.ng-invalid {
    border: 1px solid red;
}

input,
textarea {
    margin-bottom: 11px;
}

a#goToProductList-a {
    color: white;
}

.btn.btn-primary {
    cursor: pointer;
}