<!--This component displays the product associated with the brand clicked by the user-->
<div class="container">
    <div class="row header">
        <div class="col">
            <h1>Select your desired brand</h1>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-2">
                <div class="card mb-4">
                    <img (click)="onClick('A-Mano')" src='../../../../assets/amano-pictures/amano3.png' alt=" " style="width: 84%; height: auto; margin-left: 15px;">
                    <div class="card-body ">
                        <p class="card-text ">Amano
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card mb-4">
                    <img (click)="onClick('Yellow-Tail')" src='../../../../assets/yellow-tail-pictures/yellowtail1.png' alt=" " style="width:90%; height: auto;  margin-left: 15px;">
                    <div class="card-body ">
                        <p class="card-text ">Yellow Tail
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card mb-4">
                    <img (click)="onClick('Hardys and Sons')" src='../../../../assets/hardys-pictures/hardys1.png' alt=" " style="width:80%; height: auto; margin-left: 25px;">
                    <div class="card-body ">
                        <p class="card-text ">Hardys and Sons
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="card mb-4 ">
                    <img (click)="onClick('Barefoot')" src='../../../../assets/barefoot-pictures/barefoot1.png' alt=" " style="width:105%; height: auto;">
                    <div class="card-body">
                        <p class="card-text ">Barefoot
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="card mb-4">
                    <img (click)="onClick('Concha Toro')" src='../../../../assets/conchatoro-pictures/concha1.png' alt=" " style="width:75%; height: auto; margin-left: 15px;">
                    <div class="card-body ">
                        <p class="card-text ">Concha Toro
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="card mb-4">
                    <img (click)="onClick('Others')" src='../../../../assets/conchatoro-pictures/concha4.png' alt=" " style="width:80%; height: auto; ">
                    <div class="card-body ">
                        <p class="card-text ">Others
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>