@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');


h1 {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
}

.container-fluid {
    align-content: center;
}

.row.header {
    padding-top: 70px;
}
p#head {
    text-align: left;
    color: white;
    margin-left: 10em;
    font-size: 1.5em;
}

.container-fluid {
    align-content: center;
    padding-top: 50px;
    height: auto;
}

// if image text-align center parin para mag center. sabi ni Glenel na gwapo at matalino
.row.header {
    text-align: left;
    margin-top: 5em;
}

.image-wrapper {
    height: 150px;
}

img {
    height: auto;
    margin: 0;
    padding: 0;
}

.row#img-row {
    height: 150px;
    overflow: hidden;
}

.card {
    border: none;
    filter: blur(1.5px);
    margin: -16px;
}

.card img {
    cursor: pointer;
}

.card:hover {
    filter: blur(0);
}

p {
    text-align: center;
    letter-spacing: .1em;
    font-weight: bold;
}

.container-fluid {
    background: white;
}