.location-section {
    background: url(http://themexriver.com/digital-agency/assets/images/pattern-bg.jpg) no-repeat center;
    background-size: cover;
}
.section-padding {
    padding: 140px 0;
}
.location-section .location-wrapper .section-title h2 {
    font-size: 40px;
}
.section-title h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 55px;
    color: #000000;
    letter-spacing: -1.8px;
    margin: 6px 0 20px;
}
.section-title p {
    color: #6a7788;
    margin-bottom: 34px;
}
.btn-default {
    position: relative;
    font-size: 18px;
    background-color: #FFFFFF;
    border: 2px solid #610000;
    border-radius: 0;
    padding: 8px 22px;
    border-radius: 25px;
    overflow: hidden;
    z-index: 5;
    background: -webkit-linear-gradient(left, #193775, #00abc9);
    background: -moz-linear-gradient(left, #193775, #00abc9);
    background: -o-linear-gradient(left, #193775, #00abc9);
    background: -ms-linear-gradient(left, #193775, #00abc9);
    background: linear-gradient(left, #193775, #00abc9);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: 0.5s;
    -khtml-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.sub-header{font-size:22px; color:rgb(119, 0, 0);}
.border{
    border-bottom: 1px solid rgb(153, 83, 83);
}