<section class="location-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="caption">
                    <img src="http://themexriver.com/digital-agency/assets/images/map.png" alt="">
                </div>
            </div>
            <div class="col-sm-5">
                <div class="location-wrapper">
                    <div class="section-title text-center">
                        <span class="sub-header">Our Offices</span>
                        <div class="border"></div>
                        <h2>We Are WorldWide</h2>
                        <p>Winecom Vintage Distillery is a place of community, acceptance, discovery and, family. We
                            invite you to visit with us, join in the discovery of each vintage, and share this
                            exploration with your friends and family. We believe in providing our customers with a
                            relaxed environment to taste, learn and enjoy a beautiful glass of wine. Make "our life" a
                            part of yours! </p>
                        <button class="btn btn-default"><a href="contact.html">Explore Offices</a></button>
                    </div> <!-- section-title -->
                </div>
            </div>
        </div>
    </div>
</section>

<app-nav-links></app-nav-links>
<app-footer></app-footer>