<app-image-gallery>
</app-image-gallery>
<div class="container">
    <div class="row">
        <div class="col">
            <p class="quote">..where wines meet sophistication. "</p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div>
            <h4>HARDYS AND SONS</h4>
            <!-- HARDYS AND SONS -->
            <table *ngIf="hardyList">
                <tr *ngFor="let i of rowHardyArray">

                    <td>
                        <a routerLink="/single-product">
                            <div class="imagebox">
                                <img [src]="hardyList[5*i].imageUrl" class="img-fluid">
                                <span class="imagebox-desc">{{hardyList[5*i].caption}}</span>
                            </div>
                        </a>
                    </td>

                    <td *ngIf="hardyList[5*i+1]">
                        <div class="imagebox">
                            <img [src]="hardyList[5*i+1].imageUrl" class="img-fluid">
                            <span class="imagebox-desc">{{hardyList[5*i+1].caption}}</span>
                        </div>
                    </td>
                    <td *ngIf="hardyList[5*i+2]">
                        <div class="imagebox">
                            <img [src]="hardyList[5*i+2].imageUrl" class="img-fluid">
                            <span class="imagebox-desc">{{hardyList[5*i+2].caption}}</span>
                        </div>
                    </td>
                    <td *ngIf="hardyList[5*i+3]">
                        <div class="imagebox">
                            <img [src]="hardyList[5*i+3].imageUrl" class="img-fluid">
                            <span class="imagebox-desc">{{hardyList[5*i+3].caption}}</span>
                        </div>
                    </td>
                    <td *ngIf="hardyList[5*i+4]">
                        <div class="imagebox">
                            <img [src]="hardyList[5*i+4].imageUrl" class="img-fluid">
                            <span class="imagebox-desc">{{hardyList[5*i+4].caption}}</span>
                        </div>
                    </td>

                </tr>
            </table>

            <h4>A MANO</h4>
            <!-- AMANO -->
            <table *ngIf="amanoList">
                <tr *ngFor="let i of rowIndexArray">
                    <td>
                        <div class="imagebox">
                            <img [src]="amanoList[5*i].imageUrl" (click)="getData(amanoList[5*i]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                            <span class="imagebox-desc">{{amanoList[5*i].caption}}</span>
                        </div>
                    </td>
                    <td *ngIf="amanoList[5*i+1]">
                        <div class="imagebox">
                            <img [src]="amanoList[5*i+1].imageUrl" (click)="getData(amanoList[5*i+1]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                            <span class="imagebox-desc">{{amanoList[5*i+1].caption}}</span>
                        </div>
                    </td>
                    <td *ngIf="amanoList[5*i+2]">
                        <div class="imagebox">
                            <img [src]="amanoList[5*i+2].imageUrl" (click)="getData(amanoList[5*i+2]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                            <span class="imagebox-desc">{{amanoList[5*i+2].caption}}</span>
                        </div>
                    </td>
                    <td *ngIf="amanoList[5*i+3]">
                        <div class="imagebox">
                            <img [src]="amanoList[5*i+3].imageUrl" (click)="getData(amanoList[5*i+3]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                            <span class="imagebox-desc">{{amanoList[5*i+3].caption}}</span>
                        </div>
                    </td>
                    <td *ngIf="amanoList[5*i+4]">
                        <div class="imagebox">
                            <img [src]="amanoList[5*i+4].imageUrl" (click)="getData(amanoList[5*i+4]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                            <span class="imagebox-desc">{{amanoList[5*i+3].caption}}</span>
                        </div>
                    </td>

                </tr>
            </table>

            <h4>YELLOW TAIL</h4>
            <!-- YELLOW TAIL -->
            <table *ngIf="yellowList">
                <tr *ngFor="let i of rowYellowArray">

                    <td>
                        <div class="imagebox">
                            <img [src]="yellowList[5*i].imageUrl" (click)="getData(yellowList[5*i]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                            <span class="imagebox-desc">{{yellowList[5*i].caption}}</span>
                        </div>
                    </td>
                    <td *ngIf="yellowList[5*i+1]">
                        <div class="imagebox">
                            <img [src]="yellowList[5*i+1].imageUrl" (click)="getData(yellowList[5*i+1]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                            <span class="imagebox-desc">{{yellowList[5*i+1].caption}}</span>
                        </div>
                    </td>
                    <td *ngIf="yellowList[5*i+2]">
                        <div class="imagebox">
                            <img [src]="yellowList[5*i+2].imageUrl" (click)="getData(yellowList[5*i+2]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                            <span class="imagebox-desc">{{yellowList[5*i+2].caption}}</span>
                        </div>
                    </td>
                    <td *ngIf="yellowList[5*i+5]">
                        <div class="imagebox">
                            <img [src]="yellowList[5*i+5].imageUrl" (click)="getData(yellowList[5*i+3]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                            <span class="imagebox-desc">{{yellowList[5*i+3].caption}}</span>
                        </div>
                    </td>
                    <td *ngIf="yellowList[5*i+4]">
                        <div class="imagebox">
                            <img [src]="yellowList[5*i+4].imageUrl" (click)="getData(yellowList[5*i+4]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                            <span class="imagebox-desc">{{yellowList[5*i+4].caption}}</span>
                        </div>
                    </td>

                </tr>
            </table>

            <h4>BAREFOOT</h4>
            <!-- BAREFOOT -->
            <table *ngIf="barefootList">
                <tr *ngFor="let i of rowBarefootArray">

                    <td>
                        <div class="imagebox">
                            <img [src]="barefootList[5*i].imageUrl" (click)="getData(barefootList[5*i]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                            <span class="imagebox-desc">{{barefootList[5*i].caption}}</span>
                        </div>
                    </td>
                    <td *ngIf="barefootList[5*i+1]">
                        <div class="imagebox">
                            <img [src]="barefootList[5*i+1].imageUrl" (click)="getData(barefootList[5*i+1]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                            <span class="imagebox-desc">{{barefootList[5*i+1].caption}}</span>
                        </div>
                    </td>
                    <td *ngIf="barefootList[5*i+2]">
                        <div class="imagebox">
                            <img [src]="barefootList[5*i+2].imageUrl" (click)="getData(barefootList[5*i+2]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                            <span class="imagebox-desc">{{barefootList[5*i+2].caption}}</span>
                        </div>
                    </td>
                    <td *ngIf="barefootList[5*i+5]">
                        <div class="imagebox">
                            <img [src]="barefootList[5*i+5].imageUrl" (click)="getData(barefootList[5*i+3]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                            <span class="imagebox-desc">{{barefootList[5*i+3].caption}}</span>
                        </div>
                    </td>
                    <td *ngIf="barefootList[5*i+4]">
                        <div class="imagebox">
                            <img [src]="barefootList[5*i+4].imageUrl" (click)="getData(barefootList[5*i+4]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                            <span class="imagebox-desc">{{barefootList[5*i+4].caption}}</span>
                        </div>
                    </td>

                </tr>
            </table>

            <h4>CONCHA TORO</h4>
            <!-- CONCHA TORO -->
            <table *ngIf="conchaList">
                <tr *ngFor="let i of rowConchaArray">

                    <td>
                        <div class="imagebox">
                            <img [src]="conchaList[5*i].imageUrl" (click)="getData(conchaList[5*i]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                            <span class="imagebox-desc">{{conchaList[5*i].caption}}</span>
                        </div>
                    </td>
                    <td *ngIf="conchaList[5*i+1]">
                        <div class="imagebox">
                            <img [src]="conchaList[5*i+1].imageUrl" (click)="getData(conchaList[5*i+1]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                            <span class="imagebox-desc">{{conchaList[5*i+1].caption}}</span>
                        </div>
                    </td>
                    <td *ngIf="conchaList[5*i+2]">
                        <div class="imagebox">
                            <img [src]="conchaList[5*i+2].imageUrl" (click)="getData(conchaList[5*i+2]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                            <span class="imagebox-desc">{{conchaList[5*i+2].caption}}</span>
                        </div>
                    </td>
                    <td *ngIf="conchaList[5*i+5]">
                        <div class="imagebox">
                            <img [src]="conchaList[5*i+5].imageUrl" (click)="getData(conchaList[5*i+3]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                            <span class="imagebox-desc">{{conchaList[5*i+3].caption}}</span>
                        </div>
                    </td>
                    <td *ngIf="conchaList[5*i+4]">
                        <div class="imagebox">
                            <img [src]="conchaList[5*i+4].imageUrl" (click)="getData(conchaList[5*i+4]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                            <span class="imagebox-desc">{{conchaList[5*i+4].caption}}</span>
                        </div>
                    </td>

                </tr>
            </table>

            <h4>OTHERS</h4>
            <!-- OTHERS -->
            <table *ngIf="othersList">
                <tr *ngFor="let i of rowOthersArray">

                    <td>
                        <div class="imagebox">
                            <img [src]="othersList[5*i].imageUrl" (click)="getData(othersList[5*i]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                            <span class="imagebox-desc">{{othersList[5*i].caption}}</span>
                        </div>
                    </td>
                    <td *ngIf="othersList[5*i+1]">
                        <div class="imagebox">
                            <img [src]="othersList[5*i+1].imageUrl" (click)="getData(othersList[5*i+1]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                            <span class="imagebox-desc">{{othersList[5*i+1].caption}}</span>
                        </div>
                    </td>
                    <td *ngIf="othersList[5*i+2]">
                        <div class="imagebox">
                            <img [src]="othersList[5*i+2].imageUrl" (click)="getData(othersList[5*i+2]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                            <span class="imagebox-desc">{{othersList[5*i+2].caption}}</span>
                        </div>
                    </td>
                    <td *ngIf="othersList[5*i+5]">
                        <div class="imagebox">
                            <img [src]="othersList[5*i+5].imageUrl" (click)="getData(othersList[5*i+3]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                            <span class="imagebox-desc">{{othersList[5*i+3].caption}}</span>
                        </div>
                    </td>
                    <td *ngIf="othersList[5*i+4]">
                        <div class="imagebox">
                            <img [src]="othersList[5*i+4].imageUrl" (click)="getData(othersList[5*i+4]); clickFalse1();" class="img-fluid" data-toggle="modal" data-target="#anyModal">
                            <span class="imagebox-desc">{{othersList[5*i+4].caption}}</span>
                        </div>
                    </td>

                </tr>
            </table>
        </div>
    </div>
</div>

<app-images></app-images>
<app-nav-links></app-nav-links>
<app-navigation-bar></app-navigation-bar>
<app-footer></app-footer>