@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
.quote {
    color: gray;
    font-size: 2rem;
    text-align: center;
    font-family: 'Kaushan Script';
    
}

.imagebox {
    background: transparent;
    padding: 0px;
    position: relative;
    text-align: center;
    width: 100%;
}

.imagebox img {
    opacity: 1;
    transition: 0.5s opacity;
    /** Added by ate Khamae, For fitting the image **/
    object-fit: contain;
    width: 350px;
    height: 350px;
    cursor: pointer;
}

.imagebox .imagebox-desc {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0px;
    height: 20%;
    color: white;
    font-size: 1.2em;
    left: 0px;
    padding: 10px 15px;
    position: absolute;
    transition: 0.5s padding;
    text-align: center;
    width: 100%;
}

.imagebox:hover img {
    opacity: 0.7;
}

.imagebox:hover .imagebox-desc {
    padding-bottom: 100px;
}

// h5:hover.brands {
//     cursor: pointer;
//     background-color: darken($color: #747474, $amount: 0);
//     color: white;
// }

@media only screen and (max-width:992px) {
    h3 {
        background-color: red;
        color: pink;
    }
}

td {
    margin: 5px;
    width: 350px;
    height: 350px
}

table{
    margin-bottom: 10rem;
}