
a {
    color: #333;
}

// .social:hover {
//     -o-transform: scale(1.1);
// }

// .social {
//     -o-transform: scale(0.8);
//     -o-transition-duration: 0.5s;
// }

/*
      Multicoloured Hover Variations
  */

#social-fb:hover {
    color: #3B5998;
   padding-left:5px;
	font-weight:700;
}

#social-tw:hover {
    color: #4099FF;
   padding-left:5px;
	font-weight:700;
}

#social-gp:hover {
    color: #d34836;
   padding-left:5px;
	font-weight:700;
}

#social-em:hover {
    color: #f39c12;
   padding-left:5px;
	font-weight:700;
}

footer {
    padding: 20px;
    background: rgb(5, 5, 5);
    color: white;
}


#footLinks a{
    margin-bottom: 50px;
    padding-right: 3rem;
 
	transition: .2s all ease;
}

#footLinks a:hover{
    color: rgb(100, 100, 100);
	margin-bottom:5px;
	font-weight:700;
}

#socialLinks a{
    padding-right: 5px;
}