<!--Start of the footer-->
<footer class="container-fluid">
   
    <div class="row justify-content-center" id="footLinks">
        <a routerLink="/home">Home</a>
        <a routerLink="/about-us">Our Story</a>
        <a routerLink="/gallery">Our Wines</a>
        <a (click)="wineryPageChoice('brands');" routerLink="">Our Brands</a>
        <a routerLink="/location">Location</a>
        <a routerLink="/contact">Contact Us</a>
    </div>

    <div class="row justify-content-center" id="socialLinks">
        <a href="https://www.facebook.com/winecom"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
        <a href="https://twitter.com"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
        <a href="https://google.com"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
        <a href="https://google.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
    </div>

    <div class="row justify-content-center">
        <p class="text-center">Winecom Copyright &copy; 2019</p>
    </div>

    </footer>
    <!--End of footer-->