.container-fluid{
    position: relative;
    text-align: center;
    color: black;
}

#banner {
    background-image: linear-gradient(120deg, rgb(255, 255, 255) 0%, rgb(0, 0, 0) 87%);
    position: relative;
    width: 100%;
    height: 950px;
}

#cloud-scroll {
    background: url(src/assets/images/mirrored.png) repeat-x;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    -webkit-animation: 900000s backgroundScroll infinite linear;
    -moz-animation: 900000s backgroundScroll infinite linear;
    -o-animation: 900000s backgroundScroll infinite linear;
    -ms-animation: 900000s backgroundScroll infinite linear;
    animation: 900000s backgroundScroll infinite linear;
}

@-webkit-keyframes backgroundScroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -99999999px 0;
    }
}

@keyframes backgroundScroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -99999999px 0;
    }
}

#prodTitle h1{
    position: absolute;
    color: black;
    margin-top: 15rem;
}