@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Niconne&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Teko:500&display=swap');

.ourGallery{
    margin-left: 100px;
    background-color: gray;
}

.absolute{
    margin-left: 500px;
}

.text{
    background-color: gray;
    margin-top: 12rem;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Kaushan Script';
}

#front {
    width: 250px;
    height: 250px;
    position: relative;
    top: 150px;
    left: 255px;
}

#right {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 200px;
    left: 750px;
    animation: right 1s ease;
    opacity: 1;
    transform: scale(.8);
}

#left {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 200px;
    left: 250px;
    animation: left 1s ease;
    opacity: 1;
    transform: scale(.8);
}

#right1 {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 200px;
    left: 1000px;
    animation: right1 1s 1s, op 1s;
    opacity: 1;
    transform: scale(.75);
}

#left1 {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 200px;
    left: 0px;
    animation: left1 1s 1s ease, op 1s;
    opacity: 1;
    transform: scale(.75);
}

// keyframes
@keyframes left {
    0% {
        top: 200px;
        left: 500px;
        width: 250px;
        height: 250px;
        opacity: 0;
        transform: scale(1);
    }
    100% {
        position: fixed;
        top: 200px;
        left: 250px;
        width: 250px;
        height: 250px;
        opacity: 1;
        transform: scale(.8);
    }
}

@keyframes right {
    0% {
        top: 200px;
        left: 500px;
        width: 250px;
        height: 250px;
        opacity: 0;
        transform: scale(1);
    }
    100% {
        position: fixed;
        top: 200px;
        left: 750px;
        width: 250px;
        height: 250px;
        opacity: 1;
        transform: scale(.8);
    }
}

@keyframes op {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes left1 {
    0% {
        top: 200px;
        left: 500px;
        width: 250px;
        height: 250px;
        opacity: 0;
        transform: scale(1);
    }
    100% {
        position: fixed;
        top: 200px;
        left: 0px;
        width: 250px;
        height: 250px;
        opacity: 1;
        transform: scale(.75);
    }
}

@keyframes right1 {
    0% {
        top: 200px;
        left: 500px;
        width: 250px;
        height: 250px;
        opacity: 0;
        transform: scale(1);
    }
    100% {
        position: fixed;
        top: 200px;
        left: 1000px;
        width: 250px;
        height: 250px;
        opacity: 1;
        transform: scale(.75);
    }
}


//banner
img{
    padding-right: -30rem;
}


.container-fluid{
    position: relative;
    text-align: center;
    color: black;
}

#banner {
    background-image: linear-gradient(120deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 87%);
    position: relative;
    width: 100%;
    height: 950px;
}

#cloud-scroll {
    background: url(src/assets/images/mirrored.png) repeat-x;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    -webkit-animation: 9000000s backgroundScroll infinite linear;
    -moz-animation: 900000s backgroundScroll infinite linear;
    -o-animation: 900000s backgroundScroll infinite linear;
    -ms-animation: 900000s backgroundScroll infinite linear;
    animation: 2500000s backgroundScroll infinite linear;
}

@-webkit-keyframes backgroundScroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -99999999px 0;
    }
}

@keyframes backgroundScroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -99999999px 0;
    }
}

#prodTitle h1{
    position: absolute;
    color: rgb(228, 225, 225);
    margin-top: 15rem;
    font-size: 10rem;
    text-shadow: 2px 5px #424242;
    font-family: 'Dancing Script', cursive;
    
}