<!-- <div class="container-fluid" id="banner">
    <div class="row">
          <img src="../../../../../assets/images/ourwines.PNG" alt="" style="width: 1780px; height: 780px" class="img-responsive">
    </div>
</div> -->


<div id="banner">
        <div id="cloud-scroll">
            <div class="row justify-content-center" id="prodTitle">
                    <h1>Our Wines</h1>
            </div>
        </div>
    </div>
