<table>
    <thead>
        <th>Alcohol Content</th>
        <th>Allergens</th>
        <th>Brand</th>
        <th>Description</th>
        <th>Country</th>
        <th>Type</th>
    </thead>
    <!-- YellowTail -->
    <ng-container *ngFor="let wines of winesYellowTail">
        <tr class="table">
            <td>{{wines.alcohol}}</td>
            <td>{{wines.allergen}}</td>
            <td>{{wines.caption}}</td>
            <td>{{wines.description}}</td>
            <!-- <td>{{wines.category}}</td> -->
            <td>{{wines.country}}</td>
            <!-- <td>{{wines.region}}</td> -->
            <td>{{wines.type}}</td>
            <!-- <td>{{wines.vintage}}</td> -->
            <td>
                <button class="btn btn-outline-info" (click)="populateForm(wines)" data-toggle="modal" data-target="#yellowTailModal">Edit</button>
                <button class="btn btn-outline-danger" (click)="onDelete(wines.$key, wines.imageUrl)">Delete</button>
            </td>
        </tr>


        <div class="modal fade" id="yellowTailModal" tabindex="-1" role="dialog" aria-labelledby="yellowTailModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="yellowTailModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="formTemplate">
                            <div class="form-group">
                                <input class="form-control" formControlName="caption" placeholder="Name">
                                <input class="form-control" formControlName="description" placeholder="Description">
                                <input class="form-control" formControlName="allergen" placeholder="Allergens">
                                <input class="form-control" formControlName="country" placeholder="Country">
                                <input class="form-control" formControlName="alcohol" placeholder="Alcohol Content" type="number">
                                <div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl.errors?.required">
                                    This field is required.
                                </div>
                            </div>
                            <div class="form-group">
                                <select formControlName="category" class="form-control">
                                    <option value="" disabled selected>--Select a Brand--</option>
                                    <option value="A Mano">A Mano</option>
                                    <option value="Barefoot">Barefoot</option>
                                    <option value="Concha Toro">Concha Toro</option>
                                    <option value="Gallo">Gallo</option>
                                    <option value="Hardys and Sons">Hardys and Sons</option>
                                    <option value="YellowTail">YellowTail</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select formControlName="type" class="form-control">
                                    <option value="" disabled selected>--Select a Type--</option>
                                    <option value="Red Wine">Red Wine</option>
                                    <option value="White Wine">White Wine</option>
                                    <option value="Rose Wine">Rose</option>
                                    <option value="Sparkling Wine">Sparkling Wine</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" (click)="onSubmit()" data-dismiss="modal">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- Hardys And Sons -->
    <ng-container *ngFor="let hardy of winesHardys">
        Hardys and Sons
        <tr class="table">
            <td>{{hardy.alcohol}}</td>
            <td>{{hardy.allergen}}</td>
            <td>{{hardy.caption}}</td>
            <td>{{hardy.description}}</td>
            <!-- <td>{{hardy.category}}</td> -->
            <td>{{hardy.country}}</td>
            <!-- <td>{{hardy.region}}</td> -->
            <td>{{hardy.type}}</td>
            <!-- <td>{{hardy.vintage}}</td> -->
            <td>
                <button class="btn btn-outline-info" (click)="populateForm(hardy)" data-toggle="modal" data-target="#hardyModal">Edit</button>
                <button class="btn btn-outline-danger" (click)="onDelete(hardy.$key, hardy.imageUrl)">Delete</button>
            </td>
        </tr>
        <div class="modal fade" id="hardyModal" tabindex="-1" role="dialog" aria-labelledby="hardyModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="hardyModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="formTemplate">
                            <div class="form-group">
                                <input class="form-control" formControlName="caption" placeholder="Name">
                                <input class="form-control" formControlName="description" placeholder="Description">
                                <input class="form-control" formControlName="allergen" placeholder="Allergens">
                                <input class="form-control" formControlName="country" placeholder="Country">
                                <input class="form-control" formControlName="alcohol" placeholder="Alcohol Content" type="number">
                                <div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl.errors?.required">
                                    This field is required.
                                </div>
                            </div>
                            <div class="form-group">
                                <select formControlName="category" class="form-control">
                                    <option value="" disabled selected>--Select a Brand--</option>
                                    <option value="A Mano">A Mano</option>
                                    <option value="Barefoot">Barefoot</option>
                                    <option value="Concha Toro">Concha Toro</option>
                                    <option value="Gallo">Gallo</option>
                                    <option value="Hardys and Sons">Hardys and Sons</option>
                                    <option value="YellowTail">YellowTail</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select formControlName="type" class="form-control">
                                    <option value="" disabled selected>--Select a Type--</option>
                                    <option value="Red Wine">Red Wine</option>
                                    <option value="White Wine">White Wine</option>
                                    <option value="Rose Wine">Rose</option>
                                    <option value="Sparkling Wine">Sparkling Wine</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" (click)="onSubmitHardy()" data-dismiss="modal">Save changes Hardy</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- AMano -->
    AMano
    <ng-container *ngFor="let AMano of winesAMano">

        <tr class="table">
            <td>{{AMano.alcohol}}</td>
            <td>{{AMano.allergen}}</td>
            <td>{{AMano.caption}}</td>
            <td>{{AMano.description}}</td>
            <!-- <td>{{AMano.category}}</td> -->
            <td>{{AMano.country}}</td>
            <!-- <td>{{AMano.region}}</td> -->
            <td>{{AMano.type}}</td>
            <!-- <td>{{AMano.vintage}}</td> -->
            <td>
                <button class="btn btn-outline-info" (click)="populateForm(AMano)" data-toggle="modal" data-target="#AManoModal">Edit</button>
                <button class="btn btn-outline-danger" (click)="onDelete(AMano.$key, AMano.imageUrl)">Delete</button>
            </td>
        </tr>

        <div class="modal fade" id="AManoModal" tabindex="-1" role="dialog" aria-labelledby="AManoModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="AManoModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="formTemplate">
                            <div class="form-group">
                                <input class="form-control" formControlName="caption" placeholder="Name">
                                <input class="form-control" formControlName="description" placeholder="Description">
                                <input class="form-control" formControlName="allergen" placeholder="Allergens">
                                <input class="form-control" formControlName="country" placeholder="Country">
                                <input class="form-control" formControlName="alcohol" placeholder="Alcohol Content" type="number">
                                <div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl.errors?.required">
                                    This field is required.
                                </div>
                            </div>
                            <div class="form-group">
                                <select formControlName="category" class="form-control">
                                    <option value="" disabled selected>--Select a Brand--</option>
                                    <option value="A Mano">A Mano</option>
                                    <option value="Barefoot">Barefoot</option>
                                    <option value="Concha Toro">Concha Toro</option>
                                    <option value="Gallo">Gallo</option>
                                    <option value="Hardys and Sons">Hardys and Sons</option>
                                    <option value="YellowTail">YellowTail</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select formControlName="type" class="form-control">
                                    <option value="" disabled selected>--Select a Type--</option>
                                    <option value="Red Wine">Red Wine</option>
                                    <option value="White Wine">White Wine</option>
                                    <option value="Rose Wine">Rose</option>
                                    <option value="Sparkling Wine">Sparkling Wine</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" (click)="onSubmitAMano()" data-dismiss="modal">Save changes Hardy</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- Barefoot -->
    <ng-container *ngFor="let bare of winesBarefoot">
        Barefoot
        <tr class="table">
            <td>{{bare.alcohol}}</td>
            <td>{{bare.allergen}}</td>
            <td>{{bare.caption}}</td>
            <td>{{bare.description}}</td>
            <!-- <td>{{bare.category}}</td> -->
            <td>{{bare.country}}</td>
            <!-- <td>{{bare.region}}</td> -->
            <td>{{bare.type}}</td>
            <!-- <td>{{bare.vintage}}</td> -->
            <td>
                <button class="btn btn-outline-info" (click)="populateForm(bare)" data-toggle="modal" data-target="#BarefootModal">Edit</button>
                <button class="btn btn-outline-danger" (click)="onDelete(bare.$key, bare.imageUrl)">Delete</button>
            </td>
        </tr>

        <div class="modal fade" id="BarefootModal" tabindex="-1" role="dialog" aria-labelledby="BarefootModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="BarefootModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="formTemplate">
                            <div class="form-group">
                                <input class="form-control" formControlName="caption" placeholder="Name">
                                <input class="form-control" formControlName="description" placeholder="Description">
                                <input class="form-control" formControlName="allergen" placeholder="Allergens">
                                <input class="form-control" formControlName="country" placeholder="Country">
                                <input class="form-control" formControlName="alcohol" placeholder="Alcohol Content" type="number">
                                <div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl.errors?.required">
                                    This field is required.
                                </div>
                            </div>
                            <div class="form-group">
                                <select formControlName="category" class="form-control">
                                    <option value="" disabled selected>--Select a Brand--</option>
                                    <option value="A Mano">A Mano</option>
                                    <option value="Barefoot">Barefoot</option>
                                    <option value="Concha Toro">Concha Toro</option>
                                    <option value="Gallo">Gallo</option>
                                    <option value="Hardys and Sons">Hardys and Sons</option>
                                    <option value="YellowTail">YellowTail</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select formControlName="type" class="form-control">
                                    <option value="" disabled selected>--Select a Type--</option>
                                    <option value="Red Wine">Red Wine</option>
                                    <option value="White Wine">White Wine</option>
                                    <option value="Rose Wine">Rose</option>
                                    <option value="Sparkling Wine">Sparkling Wine</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" (click)="onSubmitBarefoot()" data-dismiss="modal">Save changes Hardy</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- ConcharaToro -->
    <ng-container *ngFor="let concha of winesConchaToro">
        Conchara Toro
        <tr class="table">
            <td>{{concha.alcohol}}</td>
            <td>{{concha.allergen}}</td>
            <td>{{concha.caption}}</td>
            <td>{{concha.description}}</td>
            <!-- <td>{{concha.category}}</td> -->
            <td>{{concha.country}}</td>
            <!-- <td>{{concha.region}}</td> -->
            <td>{{concha.type}}</td>
            <!-- <td>{{concha.vintage}}</td> -->
            <td>
                <button class="btn btn-outline-info" (click)="populateForm(concha)" data-toggle="modal" data-target="#ConchaModal">Edit</button>
                <button class="btn btn-outline-danger" (click)="onDelete(concha.$key, concha.imageUrl)">Delete</button>
            </td>
        </tr>

        <div class="modal fade" id="ConchaModal" tabindex="-1" role="dialog" aria-labelledby="ConchaModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ConchaModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="formTemplate">
                            <div class="form-group">
                                <input class="form-control" formControlName="caption" placeholder="Name">
                                <input class="form-control" formControlName="description" placeholder="Description">
                                <input class="form-control" formControlName="allergen" placeholder="Allergens">
                                <input class="form-control" formControlName="country" placeholder="Country">
                                <input class="form-control" formControlName="alcohol" placeholder="Alcohol Content" type="number">
                                <div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl.errors?.required">
                                    This field is required.
                                </div>
                            </div>
                            <div class="form-group">
                                <select formControlName="category" class="form-control">
                                    <option value="" disabled selected>--Select a Brand--</option>
                                    <option value="A Mano">A Mano</option>
                                    <option value="Barefoot">Barefoot</option>
                                    <option value="Concha Toro">Concha Toro</option>
                                    <option value="Gallo">Gallo</option>
                                    <option value="Hardys and Sons">Hardys and Sons</option>
                                    <option value="YellowTail">YellowTail</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select formControlName="type" class="form-control">
                                    <option value="" disabled selected>--Select a Type--</option>
                                    <option value="Red Wine">Red Wine</option>
                                    <option value="White Wine">White Wine</option>
                                    <option value="Rose Wine">Rose</option>
                                    <option value="Sparkling Wine">Sparkling Wine</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" (click)="onSubmitConcha()" data-dismiss="modal">Save changes Hardy</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- Gallo -->
    <ng-container *ngFor="let gallo of winesGallo">
        Gallo
        <tr class="table">
            <td>{{gallo.alcohol}}</td>
            <td>{{gallo.allergen}}</td>
            <td>{{gallo.caption}}</td>
            <td>{{gallo.description}}</td>
            <!-- <td>{{gallo.category}}</td> -->
            <td>{{gallo.country}}</td>
            <!-- <td>{{gallo.region}}</td> -->
            <td>{{gallo.type}}</td>
            <!-- <td>{{gallo.vintage}}</td> -->
            <td>
                <button class="btn btn-outline-info" (click)="populateForm(gallo)" data-toggle="modal" data-target="#GalloModal">Edit</button>
                <button class="btn btn-outline-danger" (click)="onDelete(gallo.$key, gallo.imageUrl)">Delete</button>
            </td>
        </tr>

        <div class="modal fade" id="GalloModal" tabindex="-1" role="dialog" aria-labelledby="GalloModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="GalloModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="formTemplate">
                            <div class="form-group">
                                <input class="form-control" formControlName="caption" placeholder="Name">
                                <input class="form-control" formControlName="description" placeholder="Description">
                                <input class="form-control" formControlName="allergen" placeholder="Allergens">
                                <input class="form-control" formControlName="country" placeholder="Country">
                                <input class="form-control" formControlName="alcohol" placeholder="Alcohol Content" type="number">
                                <div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl.errors?.required">
                                    This field is required.
                                </div>
                            </div>
                            <div class="form-group">
                                <select formControlName="category" class="form-control">
                                    <option value="" disabled selected>--Select a Brand--</option>
                                    <option value="A Mano">A Mano</option>
                                    <option value="Barefoot">Barefoot</option>
                                    <option value="Concha Toro">Concha Toro</option>
                                    <option value="Gallo">Gallo</option>
                                    <option value="Hardys and Sons">Hardys and Sons</option>
                                    <option value="YellowTail">YellowTail</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select formControlName="type" class="form-control">
                                    <option value="" disabled selected>--Select a Type--</option>
                                    <option value="Red Wine">Red Wine</option>
                                    <option value="White Wine">White Wine</option>
                                    <option value="Rose Wine">Rose</option>
                                    <option value="Sparkling Wine">Sparkling Wine</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" (click)="onSubmitGallo()" data-dismiss="modal">Save changes Hardy</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- Others -->
    <ng-container *ngFor="let others of winesOthers">
        Others
        <tr class="table">
            <td>{{others.alcohol}}</td>
            <td>{{others.allergen}}</td>
            <td>{{others.caption}}</td>
            <td>{{others.description}}</td>
            <!-- <td>{{others.category}}</td> -->
            <td>{{others.country}}</td>
            <!-- <td>{{others.region}}</td> -->
            <td>{{others.type}}</td>
            <!-- <td>{{others.vintage}}</td> -->
            <td>
                <button class="btn btn-outline-info" (click)="populateForm(others)" data-toggle="modal" data-target="#OthersModal">Edit</button>
                <button class="btn btn-outline-danger" (click)="onDelete(others.$key, others.imageUrl)">Delete</button>
            </td>
        </tr>

        <div class="modal fade" id="OthersModal" tabindex="-1" role="dialog" aria-labelledby="OthersModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="OthersModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="formTemplate">
                            <div class="form-group">
                                <input class="form-control" formControlName="caption" placeholder="Name">
                                <input class="form-control" formControlName="description" placeholder="Description">
                                <input class="form-control" formControlName="allergen" placeholder="Allergens">
                                <input class="form-control" formControlName="country" placeholder="Country">
                                <input class="form-control" formControlName="alcohol" placeholder="Alcohol Content" type="number">
                                <div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl.errors?.required">
                                    This field is required.
                                </div>
                            </div>
                            <div class="form-group">
                                <select formControlName="category" class="form-control">
                                    <option value="" disabled selected>--Select a Brand--</option>
                                    <option value="A Mano">A Mano</option>
                                    <option value="Barefoot">Barefoot</option>
                                    <option value="Concha Toro">Concha Toro</option>
                                    <option value="Gallo">Gallo</option>
                                    <option value="Hardys and Sons">Hardys and Sons</option>
                                    <option value="YellowTail">YellowTail</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select formControlName="type" class="form-control">
                                    <option value="" disabled selected>--Select a Type--</option>
                                    <option value="Red Wine">Red Wine</option>
                                    <option value="White Wine">White Wine</option>
                                    <option value="Rose Wine">Rose</option>
                                    <option value="Sparkling Wine">Sparkling Wine</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" (click)="onSubmitOthers()" data-dismiss="modal">Save changes Hardy</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</table>