@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Niconne&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700&display=swap');
//Start of the Homepage
body {
    overflow-x: hidden;
    font-size: 16px;
}

p.lead {
    /*     font-family: 'Dancing Script', cursive;
 */
    /*     letter-spacing: 8px; */
    font-size: 1.5em;
}

.showcase-left {
    padding-top: 4rem;
}

.showcase-left img {
    height: 45rem;
}

.showcase-right {
    margin-top: 80px;
    margin-left: 12rem;
}

p.text-center {
    font-weight: 300px;
    font-size: 20px;
}

.showcase-right p {
    margin-left: 50px;
}

#showcase h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Kaushan Script', cursive;
}

h4,
h2 {
    font-family: 'Kaushan Script', cursive;
}


/*
 * Cover
 */

.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

/*-- Landing Page--*/

.landing {
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
    background: #E9ECEF;
    z-index: -1;
}

.home-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-inner {
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    background-image: url('../../../../../assets/images/wine1.jpg');
}

.caption {
    width: 100%;
    position: absolute;
    top: 30%;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    left: 10%;
    text-shadow: 0 5px 5px #000000bb;
}

.caption h1 {
    color: rgb(0, 0, 0);
    font-size: 5.4rem;
    padding-bottom: 2rem;
}

#testimonial {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(215, 119, 119, 1) 15%, rgba(221, 32, 32, 1) 30%, rgba(207, 8, 8, 1) 50%, rgba(221, 32, 32, 1) 70%, rgba(215, 119, 119, 1) 85%, rgba(255, 255, 255, 1) 100%);
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}

#testimonial2 {
    background: #464545;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
    color: white;
}

#testimonial2 img {
    left: 0;
}

#testimonial p {
    font-size: 65px;
    color: white;
    /*     font-family: 'Cedarville Cursive', cursive; */
    /*    font-family: 'Niconne', cursive; */
    font-family: 'Dancing Script', cursive;
    letter-spacing: 5px;
}

#testimonial p.customer {
    font-size: 20px;
    color: rgb(98, 99, 96);
}

#info1 .info-right {
    margin-top: 90px;
    text-align: justify;
}

#info1 .info-left {
    margin-top: 90px;
}

#info1 .info-left img {
    height: 20rem;
}

#info2 {
    margin-top: 100px;
}

#contact img {
    margin-top: 50px;
    width: 100%;
}

footer {
    padding: 30px;
}

.caption h1.cover-heading#two {
    color: white;
    font-family: 'Kaushan Script', cursive;
}

.caption h1.cover-heading#one {
    color: white;
    font-family: 'Niconne', cursive;
}

.btnLearn {
    background-color: transparent;
    color: white;
    border: 0;
    font-size: 1.2em;
    border-radius: 25px Solid White;
    
}

.btnLearn:hover {
    background-color: white;
    color: black;
}

.btnLearn2 {
    background-color: rgb(255, 255, 255);
    border-radius: 1px solid black;
    color: black;
}
//     background-color: rgb(0, 0, 0);
//     color: white;
//     border: 0;
//     font-size: 1.2em;
//     border-radius: 25px Solid black;

    
// }

// .btnLearn2:hover {
//     background-color: rgb(8, 0, 0);
//     color: rgb(255, 255, 255);
// }
p{
    text-align: justify;
}

.responsive {
    width: 100%;
    max-width: 700px;
    height: auto;
  }

  #firstDiv{
      width: 1600px;
      height: 500px;
      position: absolute;
      z-index: 1;
      background: rgb(56, 0, 0);
  }

  #secondDiv{
      width: 200px;
      height: 200px;
      margin: 14px;
      position: absolute;
      background: blue;
    }

    .landing2 {
        position: relative;
        width: 100%;
        height: 100vh;
        display: table;
        background: #E9ECEF;
        z-index: -1;
    }
    
    .home-wrap2 {
        clip: rect(0, auto, auto, 0);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .home-inner2 {
        position: fixed;
        display: table;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        will-change: transform;
        background-image: url('../../../../../assets/images/wine-slider3.jpg');
    }

    #more{
        display: none;
    }
 