<!-- <app-login-background></app-login-background> -->

<div id="bg">
</div>
<div class="container">
    <img src="../../../../../assets/images/trans.png" alt="" class="img-responsive">
</div>

<div class="container" id="loginbg">

    <div class="box">
        <svg>
            <rect></rect>
        </svg>
        <div class="content">
            <form [formGroup]="formLogin" class="f">
                <div class="login-box" *ngIf="authError">

                    <!-- displaying authentication error -->
                    <h1>Login</h1>
                    <!-- <div class="alert alert-danger">{{authError?.message}}</div> -->
                </div>

                <div class="textbox">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input formControlName="email" type="email" placeholder="Email" (click)='loginDirty()'>
                </div>
                <div class="text-danger" *ngIf='isEmail === false'>This field is required.
                </div>

                <small id="emailHelp" class="form-text text-muted">ex.baileyshark@gmail.com</small>
                <div class="textbox">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input formControlName="password" type="password" placeholder="Password" (click)='loginDirty()'>
                </div>
                <div class="text-danger" *ngIf='isPassword === false'>This field is required.
                </div>

                <div class="row mt-2">
                    <div class="col-12">
                        <button class="btn btn-one" (click)="login(formLogin.value); loginValidators()">Login</button>
                    </div>
                    <small><button class="btnReg fixed-top" (click)="register()"
                            style="position: right; margin-top:190px;">Click
                            here to register</button></small>
                </div>
            </form>
        </div>
    </div>
</div>