#bg {
  position: fixed; 
  top: -50%; 
  width: 200%; 
  height: 200%;
  background-image: url('../../../../../assets/images/redbg.jpg');
}
.container{
  margin: 0;
  padding:0;
  font-family:sans-serif;
  background-size: cover;
  position: relative;
}
.f{
  width: 280px;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  color: rgb(252, 252, 252);
  position: fixed;

}

.container #loginbg{
  background-color: black;
}
.login-box h1{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #4caf50;
  margin-bottom: 50px;
  padding: 1px 0;
  color: rgb(255, 255, 255);
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #bbbbbb;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.btn{
  width: 100%;
  background: none;
  border: 2px solid #ffffff;
  color : white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
  margin-top: 70px;
}
.btn:hover{
  background:rgb(85, 36, 36);
}
.btnReg{
  background-color: transparent;
  border: none;
  color: rgb(226, 164, 164);
}

.btnReg:hover{
  background-color: rgb(255, 206, 206);
  color: black;
}
img{
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	margin: 0;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img{
    left: 50%;
    margin-left: 50px;   /* 50% */
  }
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
  transition-delay: 3600s;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #2f2f2f;
}


body {
  margin: 0px;
  padding: 0px;
  background-color: #2f2f2f;
}

.img-responsive{
  height:auto;
  width: 50px;
  margin-left: 45rem;

}