<!-- html codes for registering a user account -->
<div id="bg"></div>
<img src="../../../../../assets/images/trans.png" alt="" class="img-responsive">
<!-- Form Registration -->

<small><button class="btnReg fixed-top" (click)="backToLogin()" style="margin: 20px">Back to Login</button></small>
<div class="container">
    <form [formGroup]="formRegistration" class="f">
        <div class="login-box" *ngIf="authError">
            <div class="col-10 alert alert-danger">{{authError?.message}}</div>
        </div>

        <h1>Registration</h1>

        <!-- First Name Input -->
        <div class="textbox">
            <input formControlName="firstName" type="text" placeholder="First Name">
        </div>
        <div>
            <small class="text-danger" *ngIf="isSubmitted === false && formControls.firstName.errors?.required">This field is required.</small>
        </div>

        <!-- Last Name Input -->
        <div class="textbox">
            <input formControlName="lastName" type="text" placeholder="Last Name">
        </div>
        <div class="text-danger">
            <small *ngIf="isSubmitted === false && formControls.firstName.errors?.required">This field is required.</small>
        </div>

        <!-- Email Input -->
        <div class="textbox">
            <input formControlName="email" type="email" placeholder="Email Address">
        </div>
        <div class="text-danger">
            <small *ngIf="isSubmitted === false && formControls.firstName.errors?.required">This field is required.</small>
        </div>
        <small id="emailHelp" class="form-text text-muted">example: choco@nowcom.com</small>

        <!-- Password Input -->
        <div class="textbox" id="pass">
            <input formControlName="password" type="password" placeholder="Password">
        </div>
        <div>
            <small id="emailHelp" class="form-text text-muted">Minimum of 6 characters.</small>
            <small *ngIf="formControls.errors?.minlength" class="text-danger">Username must be at least 6 characters long!</small>
        </div>

        <!-- Confirm Password Input -->
        <div class="textbox">
            <input [class.is-invalid]="formRegistration.errors?.misMatch" formControlName="confirmPassword" type="password" placeholder="Confirm Password">
        </div>
        <small class="text-danger" *ngIf="formRegistration.errors?.misMatch">Password does not match!</small>

        <div class="reg">
            <button class="btn" (click)="createUser(formRegistration.value)">Register</button>
        </div>
    </form>
</div>