<div class="choices">
</div>
<app-images class="image-label"></app-images>
<!-- ng template for different choices by the user in one page [jesu experiment code] -->

<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">Go To</li>
        <li> <a id="uploadAnchor" (click)="onClickCategory('upload'); wineryPageChoice('upload');">Upload Wines</a> </li>
        <li> <a id="updateAnchor" (click)="onClickCategory('update'); wineryPageChoice('update');">Update Wines</a> </li>
        <li> <a id="viewAnchor" (click)="onClickCategory('brands'); wineryPageChoice('brands');">View All Brands</a> </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->


<div class="container">
    <!-- design for upload -->
    <ng-template [ngIf]="wineryChoice=='upload'">
        <!-- design for upload -->
        <app-upload></app-upload>
    </ng-template>

    <ng-template [ngIf]="wineryChoice=='update'">
        <!-- design for update -->
        <div id="image-details">
            <app-image-details id="image-details"></app-image-details>
        </div>
    </ng-template>

    <ng-template [ngIf]="wineryChoice=='brands'">
        <!-- design for brands -->
        <app-image-list></app-image-list>
    </ng-template>
</div>

<app-nav-links></app-nav-links>
<app-footer></app-footer>