@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Lora&display=swap');
$blue: #91CCC2;
.over21 {
    opacity: 0.5;
    background: #CCC;
    display: none;
}

#mainContainer.container {
    width: 600px;
    height: 780px;
    font-family: 'Lora', serif;
    text-align: center;
    background-repeat: no-repeat;
}

.btn {
    font-size: 20px;
    font-family: 'Lora', serif;
}

div.firstText {
    padding-top: 150px;
}

div.textContainer {
    // background: rgba(255, 255, 255, 0.5);
    background: transparent;
}

div.textContainer h1 {
    margin: 5%;
    font-weight: bold;
    font-size: 70px;
    width: 500px;
    font-family: 'Lora', serif;
    font-family: 'Alex Brush', cursive;
    color: rgb(255, 255, 255);
}

.btn {
    position: relative;
    color: white;
    width: 256px;
    cursor: pointer;
    height: 64px;
    text-shadow: 1px 1px 0 #444;
    line-height: 64px;
    padding-bottom: 70px;
    transition: all 0.3s;
    span {
        transition: all 0.3s;
        transform: scale(1, 1);
    }
    -moz-box-shadow : 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow : 3px 3px 5px 6px #ccc;
}

.btn::before,
.btn::after {
    content: '';
    position: absolute;
    transition: all 0.3s;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.btn-one::before {
    left: 4px;
    z-index: 1;
    opacity: 0;
    background: rgba(255, 255, 255, 0.1);
    transform: scale(0.1, 1);
}

.btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.btn-one::after {
    transition: all 0.3s;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.btn-one:hover::after {
    transform: scale(1, .1);
    opacity: 0;
}

.row {
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

span {
    font-weight: bold;
}

.background {
    position: relative;
}

#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-color: black;
}

//for image fullsize
//   #bg img {
//     position: absolute; 
//     top: 0; 
//     left: 0; 
//     right: 0; 
//     bottom: 0; 
//     margin: auto; 
//     min-width: 50%;
//     min-height: 50%;
//   }