    // @import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
    // @import url('https://fonts.googleapis.com/css?family=Dancing+Script:700&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Alice|Josefin+Slab&display=swap');
    .firstImg {
        position: absolute;
    }
    
    .navbar {
        margin-bottom: 150px;
    }
    /* Carousel base class */
    
    .carousel {
        margin-bottom: 15em;
    }
    /* Since positioning the image, we need to help out the caption */
    
    .carousel-caption {
        bottom: 0;
        z-index: 10;
        color: black;
    }
    /* Declare heights because of positioning of img element */
    
    //   .carousel-item {
    //     height: 50rem;
    //   }
    .carousel-item>img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 20rem;
    }
    
    .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 100%;
    }
    /* FOR THE CLOCK **/
    
    // @import url(https://fonts.googleapis.com/css?family=Teko:regular);
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        font-family: "Teko", sans-serif;
    }
    
    .clock-box {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2em 1.5em;
        background-image: linear-gradient(45deg, #d40e0e, #1b0101);
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        animation: bgblob 4s infinite 0.5s;
        position: relative;
    }
    
    h3.header-title {
        font-weight: 600;
    }
    
    #taglines {
        font-size: 7.5em;
        text-shadow: 0 5px 5px #000000bb;
        color: white;
    }
    
    @media screen and (max-width: 768px) {
        #taglines {
            font-size: 6em;
        }
    }
    
    @keyframes bgblob {
        0% {
            border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        }
        25% {
            border-radius: 75% 25% 45% 55% / 30% 30% 70% 70%;
        }
        50% {
            border-radius: 61% 39% 27% 73% / 62% 77% 23% 38%;
        }
        75% {
            border-radius: 38% 62% 74% 26% / 75% 57% 43% 25%;
        }
        100% {
            border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        }
    }
    /* this is where about us content scss starts */
    
    .firstContent {
        height: 720px;
        // position: absolute;
        padding-top: 150px;
    }
    
    #missionContainer {
        background-color: rgb(255, 255, 255);
        margin-top: 8rem;
    }
    
    //For About Us Section
    .box {
        text-align: center;
        color: #fff;
        position: relative;
    }
    
    .box .box-content,
    .box:after {
        width: 100%;
        position: absolute;
        left: 0
    }
    
    .box:after {
        content: "";
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .08) 69%, rgba(0, 0, 0, .76) 100%);
        top: 0;
        transition: all .5s ease 0s
    }
    
    .box .post,
    .box .title {
        transform: translateY(145px);
        transition: all .4s cubic-bezier(.13, .62, .81, .91) 0s
    }
    
    .box:hover:after {
        background: linear-gradient(to bottom, rgba(0, 0, 0, .01) 0, rgba(0, 0, 0, .09) 11%, rgba(0, 0, 0, .12) 13%, rgba(0, 0, 0, .19) 20%, rgba(0, 0, 0, .29) 28%, rgba(0, 0, 0, .29) 29%, rgba(0, 0, 0, .42) 38%, rgba(0, 0, 0, .46) 43%, rgba(0, 0, 0, .53) 47%, rgba(0, 0, 0, .75) 69%, rgba(0, 0, 0, .87) 84%, rgba(0, 0, 0, .98) 99%, rgba(0, 0, 0, .94) 100%)
    }
    
    .box img {
        width: 100%;
        height: auto
    }
    
    .box .box-content {
        padding: 20px;
        margin-bottom: 20px;
        bottom: 0;
        z-index: 1
    }
    
    .box .title {
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 0 10px
    }
    
    .box .post {
        display: block;
        padding: 8px 0;
        font-size: 15px
    }
    
    .box .social li a,
    .box17 .icon li a {
        border-radius: 50%;
        font-size: 20px;
        color: #fff
    }
    
    .box:hover .post,
    .box:hover .title {
        transform: translateY(0)
    }
    
    .box .social {
        list-style: none;
        padding: 0 0 5px;
        margin: 40px 0 25px;
        opacity: 0;
        position: relative;
        transform: perspective(500px) rotateX(-90deg) rotateY(0) rotateZ(0);
        transition: all .6s cubic-bezier(0, 0, .58, 1) 0s
    }
    
    .box:hover .social {
        opacity: 1;
        transform: perspective(500px) rotateX(0) rotateY(0) rotateZ(0)
    }
    
    .box .social:before {
        content: "";
        width: 50px;
        height: 2px;
        background: #fff;
        margin: 0 auto;
        position: absolute;
        top: -23px;
        left: 0;
        right: 0
    }
    
    .box .social li {
        display: inline-block
    }
    
    .box .social li a {
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        background: #6d3795;
        margin-right: 10px;
        transition: all .3s ease 0s
    }
    
    .box17 .icon li,
    .box17 .icon li a {
        display: inline-block
    }
    
    .box .social li a:hover {
        background: #bea041
    }
    
    .box .social li:last-child a {
        margin-right: 0
    }
    
    @media only screen and ( max-width:990px) {
        .box {
            margin-bottom: 30px
        }
    }
    
    //History Css
    .secondContent {
        // position: relative;
        color: black;
        background-color: white;
        margin-top: 500px;
        padding-top: 50px;
        text-align: justify;
        //  position: absolute;
    }
    
    #secondContent h1 {
        font-family: 'Kaushan Script', cursive;
        font-size: 50px;
        text-align: center;
        padding-bottom: 50px;
    }
    
    #secondContent .row {
        // margin-right: 10rem;
        text-align: center;
        background-color: rgb(255, 255, 255);
        padding-top: 20px;
        margin-bottom: 10rem;
    }
    
    //For Vision Styling
    section {
        background-color: #ffffff;
    }
    
    .wrap {
        background: rgb(255, 255, 255);
        border-radius: 0.5rem;
        box-shadow: 7px 7px 30px -5px rgba(0, 0, 0, 0.1);
        height: 12rem;
    }
    
    .visionH1,
    #missionContainer h1 {
        font-family: 'Kaushan Script';
    }
    
    .secondContent-left {
        padding-top: 4rem;
    }
    
    .secondContent-right img {
        height: 27rem;
        margin-top: 11rem;
    }
    
    .secondContent-right {
        font-weight: 300px;
        font-size: 20px;
    }
    
    .wrap:hover {
        background: linear-gradient(135deg, #9b5f5f 0%, #a13b3b 100%);
        color: white;
        text-shadow: 2px 2px #a01a1a;
    }
    
    .vcenter {
        margin: auto;
    }
    
    .mbr-section-title3 {
        text-align: left;
    }
    
    h2 {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    
    .display-5 {
        // font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.4rem;
    }
    
    .mbr-bold {
        font-weight: 700;
    }
    
    p {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        line-height: 25px;
    }
    
    .display-6 {
        // font-family: 'Source Sans Pro', sans-serif;
        font-size: 1rem;
    }
    
    h3 {
        text-align: center;
        margin-bottom: 50px;
        font-size: 25px;
        text-align: center;
    }
    
    .visionH1 {
        padding-top: 50px;
    }
    
    //Third Content
    .team {
        background-color: rgb(255, 255, 255);
    }
    
    .team h2 {
        font-family: 'Kaushan Script';
    }
    
    .team .cnt-block {
        float: left;
        width: 100%;
        background: #fff;
        padding: 20px 10px;
        text-align: center;
        border: 2px solid #d5d5d5;
        margin: 0 0 28px;
    }
    
    .team .cnt-block figure {
        width: 148px;
        height: 148px;
        border-radius: 100%;
        display: inline-block;
        margin-bottom: 5px;
    }
    
    .team .cnt-block img {
        width: 148px;
        height: 148px;
        border-radius: 100%;
    }
    
    .team .cnt-block h3 {
        color: #2a2a2a;
        font-size: 20px;
        font-weight: 500;
        padding: 6px 0;
        text-transform: uppercase;
    }
    
    .team .cnt-block h3 a {
        text-decoration: none;
        color: #2a2a2a;
    }
    
    .team .cnt-block h3 a:hover {
        color: #337ab7;
    }
    
    .team .cnt-block p {
        color: #2a2a2a;
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
    }
    
    .team .cnt-block .follow-us {
        margin: 20px 0 0;
    }
    
    .team .cnt-block .follow-us li {
        display: inline-block;
        width: auto;
        margin: 0 5px;
    }
    
    .team .cnt-block .follow-us li .fa {
        font-size: 24px;
        color: #767676;
    }
    
    .team .cnt-block .follow-us li .fa:hover {
        color: #025a8e;
    }
    
    .row.heading h2 {
        color: rgb(46, 46, 46);
        font-size: 52.52px;
        line-height: 95px;
        font-weight: 400;
        text-align: center;
        margin: 0 0 40px;
        padding-bottom: 6px;
    }
    
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .heading.heading-icon {
        display: block;
    }
    
    .padding-lg {
        display: block;
        padding-top: 40px;
    }
    
    .practice-area.padding-lg {
        padding-bottom: 55px;
        padding-top: 55px;
    }
    
    .practice-area .inner {
        border: 1px solid #999999;
        text-align: center;
        margin-bottom: 28px;
        padding: 40px 25px;
    }
    
    .cnt-block:hover {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        border: 0;
    }
    
    .practice-area .inner h3 {
        color: #3c3c3c;
        font-size: 24px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        padding: 10px 0;
    }
    
    .practice-area .inner p {
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
    }
    
    .practice-area .inner img {
        display: inline-block;
    }
    
    p.soft-eng-p {
        font-weight: bolder !important;
        font-size: 15px !important;
        font-family: 'Alice';
    }
    
    h3.soft-eng-names {
        font-weight: bold !important;
        margin-top: 5px;
        font-family: 'Alice';
    }