<!-- html codes for registering a user account -->
<div id="bg">
    
</div>
<div class="container">
    <form #userRegForm="ngForm" (ngSubmit)="createUser(userRegForm)" class="f">
        <div class="login-box" *ngIf="authError">
            <div class="col-10 alert alert-danger">{{authError?.message}}</div>
        </div>

        <h1>Registration</h1>
        <div class="textbox">
            <input ngModel #firstname="ngModel" type="text" name="firstName" placeholder="First Name">
        </div>

        <div class="textbox">
            <input ngModel #lastname="ngModel" name="lastName" type="text" placeholder="Last Name">
        </div>

        <div class="textbox">
            <input ngModel #email="ngModel" name="email" type="email" placeholder="Email Address">
        </div>

        <small id="emailHelp" class="form-text text-muted">example: choco@nowcom.com</small>

        <div class="textbox" id="pass">
            <input ngModel #password="ngModel" name="password" type="password" placeholder="Password">
        </div>

        <small id="emailHelp" class="form-text text-muted">Minimum of 6 characters.</small>

        <div class="textbox">
            <input name="password" type="password" placeholder="Confirm Password">
        </div>

        <div class="reg">
            <button class="btn" type="submit">Register</button>
        </div>
    </form>
</div>