#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    background-color: #000000;
    
  }
  .container{
    margin: 0;
    padding:0;
    font-family:sans-serif;
    background-size: cover;
    position: relative;
  }
  
  .f{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    position: fixed;
  }
  
  .login-box h1{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #4caf50;
    margin-bottom: 50px;
    padding: 1px 0;
    color: rgb(245, 245, 245);
  }
  .textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #4caf50;
    background-color: transparent;
  }
  .textbox i{
    width: 26px;
    float: left;
    text-align: center;
  }
  
  .textbox input{
    border: none;
    outline: none;
    background: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
  }
  
  .btn{
    width: 100%;
    background: none;
    border: 2px solid #4caf50;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
  }

  .btn:hover{
      background-color: green;
  }
  img{
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      margin: 0;
    /* Set up positioning */
    position: relative;
    top: 0;
    left: 0;
  }
  @media screen and (max-width: 1024px) { /* Specific to this particular image */
    img{
      left: 50%;
      margin-left: 50px;   /* 50% */
    }
  } 
   
  .reg{
    margin-top: 40px;
  }
  
  h1{
    text-align: center;
    margin-bottom: 30px;
  }
  
  .route{
    position: absolute;
    width: 45px;
    top: 30px;
    right: 5px;
    transform: translate(-50%, -50%);
    color: white;
    position: fixed;
  }
  
  input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
    transition-delay: 3600s;
  }