body,
a {
    font-family: 'Helvetica', sans-serif;
    text-decoration: none;
}

.logo {
    text-align: center;
    margin-top: -1.3em;
}

.main-menu .logo {
    text-align: center;
    position: absolute;
    color: #fff;
}

.main-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    background: white;
    left: 0;
    /*     background-image: url('../../../../assets/images/blackred.jpg');
 */
    overflow-x: hidden;
    transition: 0.5s;
}

.menu-item {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.main-menu li a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
}

.main-menu li a:hover,
.overlay li a:focus {
    color: #f1f1f1;
}

.main-menu .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    text-decoration: none;
}

@media screen and (max-height: 450px) {
    .main-menu li a {
        font-size: 20px
    }
    .main-menu .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.nav-item a {
    color: black;
    font-size: 18px;
    font-family: 'Livvic', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

li a:hover {
    // background-color: darken($color: #ffff, $amount: 20);
    color: red !important;
}

.nav-item a:hover {
    // background-color: darken($color: #ffff, $amount: 20);
    color: red !important;
}

div.dropdown-menu a.dropdown-item {
    text-transform: capitalize !important;
    color: black;
    font-size: 20px;
    padding-left: 2em;
    padding-right: 2em;
}

div.dropdown-menu {
    background-color: transparent;
    text-align: center;
    border-style: none;
    margin-left: 245px;
}

.menu-item {
    margin-top: -40px;
}

ul li {
    list-style: none;
    letter-spacing: 5px;
}

.nav-item #dropdown04 {
    letter-spacing: 5px;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}