
<div class="container-fluid fixed-top" style="margin-top: 72px">
    <div class="row">
        <div class="col">
            <div>
                <span style="font-size:30px;cursor:pointer" onclick="setTimeout('openNav()', 100)">☰</span>
            </div>
            <nav id="myNav" class="main-menu">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <menu class="menu-item">
                    <ul>
                        <li><a routerLink="/home">Home</a></li>
                        <li><a routerLink="/about-us">About Us</a></li>
                        <li (click)="onGalleryClick()"><a routerLink="/gallery">Gallery</a></li>
                        <li (click)="onLocationClick()"><a routerLink="/location">Location</a></li>
                        <li (click)="onContactClick()"><a routerLink="/contact">Contact Us</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Winery</a>

                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" (click)="wineryPageChoice('upload')">Upload Wines</a>
                                <a class="dropdown-item" (click)="wineryPageChoice('update')">Update Wines</a>
                                <a class="dropdown-item" (click)="wineryPageChoice('brands')">Brands</a>
                            </div>
                        </li>
                    </ul>
                </menu>
            </nav>
        </div>
    </div>
</div>